
$greenLight:    #95c121;
$green:    #8eb81f;
$orange:    #f59d0f;
$grayLight:    #f2f2f2;
$color1:    #bbbbbb;
$font-color:    #858585; 
$color3:    #747474;
$grayDark:    #28292a;
$colorBlack:    #000000;
$colorWhite:    #ffffff;
$error:     #e74c3c;