html {
	font-size: 100%;
	@media (max-width:1024px){
		font-size: 80%;
	}
	@media (max-width:640px) {
		font-size: 70%;
	}
}
a,button{
    outline: 0;
    &:focus,&:hover {
        outline: 0;
    }
}

body{
	font-family: "Lato";
	color: $font-color;
	//background: #f9f9f9; 
}
.maska{
    &.active{
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        z-index: 4;
    }
}
#scrollToTop{
    position: fixed;
    z-index: 9;
    background: $greenLight;
    bottom:10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: $white;
    cursor: pointer;
    i{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
#cookies-wiadomosc{
    padding: 0.9375rem;
    background: rgba($white,.8);
    color: $black;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 99999;
    left: 0;
    right: 0;
    a{
        color: $green;
    }
    font-size: 0.875rem;
    .button-b{
        padding: 0.5rem 0.9375rem 0.3125rem 0.9375rem;
        @include hover(){
            color: $white;
        }
    }
}
.reveal.full {
    .modal-close-button{
        width: 40px;
        height: 40px;
        position: absolute;
        top:20%;
        right: 20%;
        &:after{
            position: absolute;
            content: '';
            display: block;
            width: 40px;
            height: 3px;
            background: $white;
            top:50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }
        &:before{
            position: absolute;
            content: '';
            display: block;
            width: 40px;
            height: 3px;
            background: $white;
            top:50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }
    }
    background-color: rgba($greenLight, 0.95);

    .modal {
        &__content {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .woocommerce-product-search {          
                button{
                    margin-left: 10px;
                    float: left;
                    width: rem-calc(118); 
                    height: rem-calc(50);
                    border: 2px solid $white;
                    color: $white;
                    font-weight: 900;
                    @include font-size(14px);
                    text-transform: uppercase;
                    background: transparent;
                    cursor: pointer;
                    transition: .3s;
                    @include hover(){
                        background: $white;
                        color: $black;
                    }
                }
                .page-template-b2b__left__subtitle{
                    color: $white;
                }
                .page-template-b2b__left__title{
                    color: $white;
                }
                label{
                    font-weight: 900;
                    @include font-size(14px);
                    @include line-height(26px);
                    text-transform: uppercase;
                    color: $white;
                    margin-bottom: rem-calc(10);
                    .required{
                        text-decoration: none;
                        color: $greenLight;
                    }
                }
                &__wrap{
                    float: left;
                    display: inline-block;
                    position: relative;
                        &:after{
                            content: '';
                            display: block !important;
                            position: absolute;
                            width: 100%;
                            height: rem-calc(50);
                            border: 2px solid $grayLight;
                            left: -9px;
                            bottom: -9px;
                            transition: .3s;
                        }
                        &.hideAfter{
                            &:after{
                                left: 0;
                                top:0; 
                            }
                            input,textarea{
                                border-color: $orange;
                            }
                        }
                    
                    &__input{
                        width: 640px;
                        @media (max-width:700px){
                            width: 100%;
                        }
                        float: left;
                        @include font-size(14px);
                        border: 2px solid $grayLight;
                        box-shadow: none;
                        background: $white;
                        z-index: 1;
                        position: relative;
                        text-transform: uppercase;
                        padding-left: rem-calc(25);
                        font-weight: 700;
                        color: $font-color;
                        height: rem-calc(50);
                        margin-bottom: 0px;
                        display: block;
                        &:focus{
                            box-shadow: none;
                            border: 2px solid $orange;
                        }
                        &::placeholder{
                            color: #bbbbbb;
                        }
                        &.wpcf7-not-valid{
                            border-color: $error;
                        }
                    }
                }
            }
        }
        &__login {
            padding: 3.375rem 3.75rem;
            .page-template-b2b__left__subtitle{
                color: $white;
            }
            .page-template-b2b__left__title{
                color: $white;
            }
            .separator {
                margin: 1.1875rem auto 2.5rem;
            }
            .woocommerce-form-login {
                
                .lost_password {
                    margin-top: -18px;
                    a{
                        color: $white;
                        font-weight: 300;
                        @include font-size(14px);
                        text-transform: uppercase;
                    }
                }
                small{
                    display: block;
                    width: 100%;
                    font-weight: 300;
                    @include font-size(14px);
                    text-transform: uppercase;
                    color: $white;
                    text-align: center;
                    margin-top: rem-calc(20);
                    a{
                        color: $white;
                    }
                }
                .button{
                    background: transparent;
                    width: 100%;
                    text-align: center;
                    @include hover(){
                        background: $white;
                    }
                }
                label{
                    font-weight: 900;
                    @include font-size(14px);
                    @include line-height(26px);
                    text-transform: uppercase;
                    color: $white;
                    margin-bottom: rem-calc(-10);
                    .required{
                        text-decoration: none;
                        color: $greenLight;
                    }
                }
                .form-row{
                    &__wrap{
                        display: inline-block;
                        position: relative;
                        &:after{
                            content: '';
                            display: block !important;
                            position: absolute;
                            width: 100%;
                            height: rem-calc(50);
                            border: 2px solid $grayLight;
                            left: -9px;
                            bottom: -9px;
                            transition: .3s;
                        }
                        &.hideAfter{
                            &:after{
                                left: 0;
                                top:0; 
                            }
                            input,textarea{
                                border-color: $orange;
                            }
                        }
                        &__input{
                            min-width: 23.75rem;
                            float: left;
                            @include font-size(14px);
                            border: 2px solid $grayLight;
                            box-shadow: none;
                            background: $white;
                            z-index: 1;
                            position: relative;
                            text-transform: uppercase;
                            padding-left: rem-calc(25);
                            font-weight: 700;
                            color: $font-color;
                            height: rem-calc(50);
                            margin-bottom: 0px;
                            display: block;
                            &:focus{
                                box-shadow: none;
                                border: 2px solid $orange;
                            }
                            &::placeholder{
                                color: #bbbbbb;
                            }
                            &.wpcf7-not-valid{
                                border-color: $error;
                            }
                        }
                    }
                }
            }
        }
    }
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
.container{
	max-width: 101.3rem;
	margin: 0 auto; 
}
.margin-top-70{
	margin-top: 70px;
}
.main-wrap-cms{
	padding: rem-calc(120 0 80 0);
}
.pagination{
	margin-top: rem-calc(30);
	float: right;
	.page-numbers{
		width: 33px;
		height: 33px;
		display: inline-block;
		border:2px solid $white;
        transition: .3s;
        color: #858585 !important;
        margin: 0 2px;
		&:after{
			transition: .3s;
		}
		@include hover(){
			border:2px solid $greenLight;
			background: transparent;
			position: relative;
			color: $greenLight;
			background: $white;
			&:after{
				position: absolute;
				content: '';
				width: 33px;
				height: 33px;
				border:2px solid $greenLight;
				opacity: .5;
				left: -7px;
				bottom: -7px;
			}
		}
		&.current{
			border:2px solid $greenLight;
			position: relative;
			background: $white;
			color: $greenLight;
			&:after{
				position: absolute;
				content: '';
				width: 33px;
				height: 33px;
				border:2px solid $greenLight;
				opacity: .5;
				left: -7px;
				bottom: -7px;
			}
		}
		&.next,&.prev{
			border: 2px solid #f2f2f2;
			transition: .3s;
			position: relative;
			margin-bottom: -10px;
			&:after{
				position: absolute;
				content: '';
				display: block;
				width: 33px;
				height: 33px;
				border:2px solid #f2f2f2;
				opacity: .5;
				left: -6px;
				bottom: -6px;
			}
			&:before{
				transition: .3s;
				top:50%;
				left: 50%;
				position: absolute;
				display: block;
				content: '';
				background-image: url('../images/arrow-left.svg');
				width: 20px;
				height: 20px;
				width: 10px;
				height: 9px;
			}
			@include hover(){
				border: 2px solid $greenLight;
				&:after{
					border: 2px solid $greenLight;
				}
				&:before{
					background-image: url('../images/arrow-left2.svg');
				}
			}
		}
		&.next{
			&:before{
				transform: translateX(-50%) translateY(-50%) rotate(-180deg);
			}
		}
		&.prev{
			&:before{
				transform: translateX(-50%) translateY(-50%);
			}
		}
	}
}
.button-b{
	text-decoration: none;
	@include font-size(14px);
    text-transform: uppercase;
    padding: rem-calc(18 25 15 25);
    text-align: center;
    font-weight: 900;
    color: $greenLight;
    border:2px solid $greenLight;
    display: inline-block;
	transition: .3s;
	cursor: pointer;
    @include hover(){
        background: $greenLight;
        color: $white;
    }
    &:focus{
        background: $greenLight;
        color: $white;
	}
	&.button-white{
		border-color: $white;
		color: $white;

		@include hover(){
			background: $white;
			color: $black;
		}
		&:focus{
			background: $white;
			color: $black;
		}
	}
	&.button-green{
		border-color: $greenLight;
		color: $white;
		background: $greenLight;
		@include hover(){
			background: $white;
			color: $greenLight;
		}
		&:focus{
			background: $white;
			color: $greenLight;
		}
	}
}
.row.expanded .row{
	margin-right: -0.9375rem;
	margin-left: -0.9375rem;	
}
/*! nouislider - 10.0.0 - 2017-05-28 14:52:48 */.noUi-target,.noUi-target *{-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-ms-touch-action:none;touch-action:none;-ms-user-select:none;-moz-user-select:none;user-select:none;-moz-box-sizing:border-box;box-sizing:border-box}.noUi-target{position:relative;direction:ltr}.noUi-base{width:100%;height:100%;position:relative;z-index:1}.noUi-connect{position:absolute;right:0;top:0;left:0;bottom:0}.noUi-origin{position:absolute;height:0;width:0}.noUi-handle{position:relative;z-index:1}.noUi-state-tap .noUi-connect,.noUi-state-tap .noUi-origin{-webkit-transition:top .3s,right .3s,bottom .3s,left .3s;transition:top .3s,right .3s,bottom .3s,left .3s}.noUi-state-drag *{cursor:inherit!important}.noUi-base,.noUi-handle{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.noUi-horizontal{height:18px}.noUi-horizontal .noUi-handle{width:34px;height:28px;left:-17px;top:-6px}.noUi-vertical{width:18px}.noUi-vertical .noUi-handle{width:28px;height:34px;left:-6px;top:-17px}.noUi-target{background:#FAFAFA;border-radius:4px;border:1px solid #D3D3D3;box-shadow:inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB}.noUi-connect{background:#3FB8AF;border-radius:4px;box-shadow:inset 0 0 3px rgba(51,51,51,.45);-webkit-transition:background 450ms;transition:background 450ms}.noUi-draggable{cursor:ew-resize}.noUi-vertical .noUi-draggable{cursor:ns-resize}.noUi-handle{border:1px solid #D9D9D9;border-radius:3px;background:#FFF;cursor:default;box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB}.noUi-active{box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB}.noUi-handle:after,.noUi-handle:before{content:"";display:block;position:absolute;height:14px;width:1px;background:#E8E7E6;left:14px;top:6px}.noUi-handle:after{left:17px}.noUi-vertical .noUi-handle:after,.noUi-vertical .noUi-handle:before{width:14px;height:1px;left:6px;top:14px}.noUi-vertical .noUi-handle:after{top:17px}[disabled] .noUi-connect{background:#B8B8B8}[disabled] .noUi-handle,[disabled].noUi-handle,[disabled].noUi-target{cursor:not-allowed}.noUi-pips,.noUi-pips *{-moz-box-sizing:border-box;box-sizing:border-box}.noUi-pips{position:absolute;color:#999}.noUi-value{position:absolute;white-space:nowrap;text-align:center}.noUi-value-sub{color:#ccc;font-size:10px}.noUi-marker{position:absolute;background:#CCC}.noUi-marker-large,.noUi-marker-sub{background:#AAA}.noUi-pips-horizontal{padding:10px 0;height:80px;top:100%;left:0;width:100%}.noUi-value-horizontal{-webkit-transform:translate3d(-50%,50%,0);transform:translate3d(-50%,50%,0)}.noUi-marker-horizontal.noUi-marker{margin-left:-1px;width:2px;height:5px}.noUi-marker-horizontal.noUi-marker-sub{height:10px}.noUi-marker-horizontal.noUi-marker-large{height:15px}.noUi-pips-vertical{padding:0 10px;height:100%;top:0;left:100%}.noUi-value-vertical{-webkit-transform:translate3d(0,50%,0);transform:translate3d(0,50%,0);padding-left:25px}.noUi-marker-vertical.noUi-marker{width:5px;height:2px;margin-top:-1px}.noUi-marker-vertical.noUi-marker-sub{width:10px}.noUi-marker-vertical.noUi-marker-large{width:15px}.noUi-tooltip{display:block;position:absolute;border:1px solid #D9D9D9;border-radius:3px;background:#fff;color:#000;padding:5px;text-align:center;white-space:nowrap}.noUi-horizontal .noUi-tooltip{-webkit-transform:translate(-50%,0);transform:translate(-50%,0);left:50%;bottom:120%}.noUi-vertical .noUi-tooltip{-webkit-transform:translate(0,-50%);transform:translate(0,-50%);top:50%;right:120%}