// Import foundation.scss from vendor files
@import "../../vendor/foundation-sites/scss/foundation";

body.page-template-about {
    .content {
        table {
            &:not(.aligncenter) {
                tr {
                    @media (min-width: 40rem) and (max-width: 75rem) {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    td {
                        @include breakpoint(small only) {
                            display: block !important;
                            text-align: center;
                        }

                        @media (min-width: 40rem) and (max-width: 75rem) {
                            flex: 0 0 33.33%;
                            text-align: center;
                        }
                    }
                }
            }

            &.aligncenter {
                tr {
                    td {
                        @include breakpoint(small only) {
                            display: block;
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}
