.error404{
    .top-bar{
        height: 100vh;
        background: url('../images/404.jpg');
        background-position: center center;
        &__error{
            position: absolute;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            left:50%;
            max-width: 1630px;
            width: 100%;
            padding: 0 15px;
            &__title{
                @include font-size(50px);
                @include line-height(60px);
                font-weight: 900;
                text-transform: uppercase;
                color: #ffffff;
            }
            &__subtitle{
                @include font-size(50px);
                @include line-height(60px);
                font-weight: 300;
                text-transform: uppercase;
                color: #ffffff;
            }
            &__url{
                margin-top: 48px;
            }
        }
    }
}