.product-list-page{
    #product-filters{
        margin-top: rem-calc(22);
    }
    &__sort{
        &__title{
            font-weight: 900;
            @include font-size(14px);
            text-transform: uppercase;
            margin: 0;
        }
        &__wrap{
            margin-top: rem-calc(10);
            margin-bottom: rem-calc(35);
            position: relative;
            max-width: 320px;
            &.hideAfter{
                &:after{
                    border-color: $greenLight;
                }
                &:before{
                    background: $greenLight;
                }
                .product-list-page__sort__wrap__select{
                    color: $greenLight;
                    border-color: $greenLight;
                }
            }
            &:after{
                position: absolute;
                content: '';
                display: block;
                width: 13px;
                height: 15px;
                background: $white;
                border-top: 2px solid #dbdbdb;
                border-bottom: 2px solid #dbdbdb;
                top:50%;
                transform: translateY(-50%);
                right: 20px;
                z-index: 2;
                transition: .3s;
            }
            &:before{
                position: absolute;
                content: '';
                display: block;
                width: 22px;
                height: 2px;
                background: #dbdbdb;
                top:50%;
                transform: translateY(-50%);
                right: 20px;
                z-index: 3;
                transition: .3s;
            }
            &__select{
                border: 2px solid #f2f2f2;
                height: rem-calc(50);
                padding-left: rem-calc(30);
                font-weight: 700;
                color: #bbbbbb;
                margin: 0px;
                @include font-size(14px);
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                text-indent: 1px;
                text-overflow: '';
                text-transform: uppercase;
                transition: .3s;
                background-image: none;
                &:focus{
                    border: 2px solid $greenLight;
                    box-shadow: none;
                    outline: 0;
                }
                option{
                    color: $font-color;
                }
            }
        }
        
        &__count{
            color: #bbbbbb;
            font-weight: 900;
            @include font-size(14px);
            text-transform: uppercase;
            margin: 0;
            letter-spacing: 1px;
        }
    }
    &__wrap_posts{
        margin-top: rem-calc(-20);
        display: inline-block;
        width: 100%;        
    }
    &__bottom_text{
        display: inline-block;
        padding-top: rem-calc(120);
        padding-bottom: rem-calc(100);
        background: #fcfcfc;
        @include font-size(22px);
        @include line-height(32px);
        margin-bottom: rem-calc(-86);
        margin-top: rem-calc(55);
        position: relative;
        &:before{
            position: absolute;
            content: '';
            left: 0;
            height: 100%;
            width: 2000px;
            background: #fcfcfc;
            top:0px;
            margin-left: -2000px;
        }
        &:after{
            position: absolute;
            content: '';
            right: 0;
            height: 100%;
            width: 2000px;
            background: #fcfcfc;
            top:0px;
            margin-right: -2000px;
        }
    }
    #product-filters-show{
        @media (min-width:1024px){
            display: none;
            
        }
        margin-bottom: rem-calc(30);
    }
    .mobile-is{
        @media (max-width:1024px){
            display: none;
            margin-bottom: rem-calc(30); 
            &.active{
                display: block;
            }
        }
    }
    &__title{
        color: $greenLight;
        @include font-size(18px);
        @include line-height(60px);
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px;
        &.second{
            margin-bottom: rem-calc(-10);
            margin-top: rem-calc(20);
            @media (max-width:1024px){
                margin-top: rem-calc(-20);
            }
        }
        &.first{
            margin-top: rem-calc(-20);
        }
    }
    &__subtitle{
        color: $black;
        @include font-size(20px);
        @include line-height(60px);
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    &__slider{
        margin-bottom: rem-calc(30);
        max-width: 320px;
        &__wrap{
            display: inline-block;
            width: 100%;
            margin-bottom: 4px;            
            &__price{
                @include font-size(14px);
                @include line-height(32px);
                text-transform: uppercase;
                &.left{
                    float: left;
                }
                &.right{
                    float: right;
                }
            }
        }
        #priceSlider{
            height: 2px;
            border: none;
            box-shadow: none;
            background: #f2f2f2;
            .noUi-base{
                .noUi-origin{
                    .noUi-handle{
                        width: 15px;
                        height: 15px;
                        border: 2px solid $greenLight;
                        box-shadow: none;
                        border-radius: 0;
                        
                        outline: none;
                        &:before,&:after{
                            display: none;
                        }
                    }
                    .noUi-handle-lower{
                        transform: rotate(45deg);
                        left: 0px;
                    }
                    .noUi-handle-upper{
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
    &__filters{
        &__filtr{
            margin-bottom: rem-calc(10);
            &__input{
                display: inline-block;
                width: 24px;
                height: 24px;
                border: 2px solid #f2f2f2;
                transition: .3s;
                position: relative;
                z-index: 1;
                background: $white;
                cursor: pointer;
                margin-bottom: rem-calc(-6);
                margin-right: rem-calc(5);
                &:after{
                    position: absolute;
                    content: '';
                    display: block;
                    width: 24px;
                    height: 24px;
                    border: 2px solid #f2f2f2;
                    opacity: 0.5;
                    left: -6px;
                    bottom: -6px;
                    z-index: 0;
                    transition: .3s;
                }
                &:before{
                    position: absolute;
                    content: '';
                    display: block;
                    width: 10px;
                    height: 8px;
                    z-index: 3;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    transition: .3s;
                    background: url('../images/tick.svg');
                    opacity: 0;
                }
                &.active{
                    border-color: $greenLight;
                    &:after{
                        border-color: $greenLight;
                    }
                    &:before{
                        opacity: 1;
                    }
                }
            }
            &__name{
                @include font-size(14px);
                @include line-height(32px);
                text-transform: uppercase;
                font-weight: 400;
                &.active{
                    color: $greenLight;
                }
            }
        }
    }
} 