.page-template-compare{
    &__title{
        color: $black;
        @include font-size(20px);
        @include line-height(60px);
        text-transform: uppercase;
        font-weight: 300;
        border-bottom: 2px solid #f8f8f8;
    }
    article{
        @media (min-width:1024px){
            margin-top: 0px;
        }
        &.first-col{
            @media (min-width:1024px){
                .single--product__description__title,.single--product__sizes__title{
                    text-indent: -9999px;
                }
            }
        }
    }
}