
.main_paragraph{
    @include font-size(22px);
    @include line-height(32px); 
    margin-bottom: rem-calc(20); 
}
.alignleft{
    float: left;
    margin-right: rem-calc(55);
    margin-top: rem-calc(20);
}

.wp-caption-text{
    font-style: italic;
    @include font-size(15px);
    @include line-height(26px); 
    color: #bbbbbb;
    text-align: center;
}
.content-wrap{
    @include font-size(18px);
    @include line-height(26px);
    .size-medium{
        @media (max-width:1024px){
            margin: 0 auto;
            display: block;
        }
    }
    a{
        color: $greenLight;
        transition: .3s;
        text-decoration: none;
        @include hover(){
            color: $font-color;
        }
    }
    h1,h2,h3,h4,h5,h6{
        font-weight: 900;
        color: $greenLight;
        text-transform: uppercase;
    }
    h3{
        @include font-size(22px);
        @include line-height(32px); 
        margin-top: rem-calc(35);
    }
    h4{
        @include font-size(24px);
        @include line-height(36px); 
        margin-top: rem-calc(35);
    }
    h5{
        @include font-size(18px);
        @include line-height(28px); 
        margin-top: rem-calc(35);
    }
    h6{
        @include font-size(16px);
        @include line-height(26px); 
        margin-top: rem-calc(35);
    }
    ul{
        list-style: none;
        margin: 0;
        li{
            position: relative;
            list-style: none;
            padding-left: rem-calc(30);
            &:after{
                transform: rotate(45deg) translateY(-50%);
                left: 0;
                top:50%;
                position: absolute;
                display: block;
                content: '';
                width: 11px;
                height: 11px;
                transition: .3s;
            }
            &:after{
                border: 2px solid $greenLight;           
            }
        }
    }
    .heading_1_subtitle{
        &__subtitle{
            font-weight: 900;
            @include font-size(25px);
            @include line-height(60px); 
            text-transform: uppercase;
            color: $greenLight;
            margin-top: -20px;
        }
        &__title{
            font-weight: 300;
            @include font-size(50px);
            @include line-height(60px); 
            text-transform: uppercase;
            color: $black;
            letter-spacing: 3px;
            margin-top: rem-calc(-20);
            margin-bottom: rem-calc(30);
        }
    }

    .heading_2_subtitle{
        &__subtitle{
            font-weight: 900;
            @include font-size(15px);
            @include line-height(30px); 
            text-transform: uppercase;
            color: $greenLight;
            margin-top: rem-calc(25);
        }
        &__title{
            font-weight: 300;
            @include font-size(26px);
            @include line-height(36px); 
            text-transform: uppercase;
            color: $black;
            letter-spacing: 3px;
            margin-top: rem-calc(-10);
            margin-bottom: rem-calc(50);
        }
    }
}
p{
    @include font-size(18px);
    @include line-height(26px);
    margin-bottom: rem-calc(20);
    a{
        color: $greenLight;
        text-decoration: underline;
        transition: .3s;
        @include hover(){
            color: $font-color;
        }
    }
}
blockquote{
    font-style: italic;
    border: none;
    padding: rem-calc(40 0 40 50);
    margin-bottom: 0;
    position: relative;
        @include font-size(18px);
        @include line-height(26px);
        color: $greenLight;
    &:after{
        position: absolute;
        content: '“';
        @include font-size(50px);
        @include line-height(26px);
        color: $greenLight;
        top: rem-calc(20);
        left: rem-calc(45);
    }
    p{
        @include font-size(18px);
        @include line-height(26px);
        color: $greenLight;
    }
}