.main_contactform,.comment-form{
    margin:rem-calc(75 0 35 0);
    label{
        font-weight: 900;
        @include font-size(14px);
        @include line-height(26px);
        text-transform: uppercase;
        color: $font-color;
        margin-bottom: rem-calc(5);
    }
    .wpcf7-text,.wpcf7-email,.wpcf7-textarea,#comment,#author,#email{
        @include font-size(14px);
        border: 2px solid $grayLight;
        box-shadow: none;
        background: $white;
        z-index: 1;
        position: relative;
        text-transform: uppercase;
        padding-left: rem-calc(25);
        font-weight: 700;
        margin-bottom: rem-calc(35);
        color: $font-color;
        &::placeholder{
            color: #bbbbbb;
        }
        &.wpcf7-not-valid{
            border-color: $error;
        }
        
    }
    .wpcf7-textarea,#comment{
        height: rem-calc(115);
    }
    .not-border{
        .wpcf7-form-control-wrap{
            &:after{
                display: none;
                
            }
        }
    }
    .wpcf7-submit,#submit{
        width: rem-calc(240); 
        height: rem-calc(50);
        border: 2px solid $greenLight;
        color: $greenLight;
        font-weight: 900;
        @include font-size(14px);
        @include line-height(50px);
        text-transform: uppercase;
        background: transparent;
        cursor: pointer;
        float: right;
        transition: .3s;
        margin-top: rem-calc(15);
        @include hover(){
            background: $greenLight;
            color: $white;
        }
    }
    .wpcf7-response-output{
                margin: rem-calc(10 0);
                @include font-size(18px);
                padding: rem-calc(15);
                &.wpcf7-validation-errors{
                    border-color: $error;
                    color: $error;
                }
                &.wpcf7-mail-sent-ok{
                    color: $green;
                    border-color: $green;
                }
            }
    .wpcf7-not-valid{

    }
    .wpcf7-not-valid-tip{
        display: none;
    }
    .wpcf7-form-control-wrap,.comment-form-comment,.comment-form-author,.comment-form-email{
        display: block;
        position: relative;
            &:after{
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                border: 2px solid $grayLight;
                left: -9px;
                bottom: -9px;
                transition: .3s;
            }
            &.hideAfter{
                &:after{
                    left: 0;
                    top:0; 
                }
                input,textarea{
                    border-color: $orange !important;
                }
            }
    }
}