.footer{
    padding: rem-calc(100 0 23 0);
    background-image: url('../images/footer-bg.png');
    background-position: center center;
    background-size: cover;
    @media (max-width:1024px){
        text-align: center; 
    }
    &--title{
        color: $greenLight;
        text-transform: uppercase;
        @include font-size(22px);
        @include line-height(32px);
        font-weight: 900;
        margin-bottom: rem-calc(35);
        margin-top: rem-calc(10); 
    }
    &__main{ 
        &__newsletter{
            margin-bottom: rem-calc(20);
            label{
                font-weight: 900;
                @include font-size(14px);
                text-transform: uppercase;
                color: $font-color;
                margin-bottom: rem-calc(12);
                margin-top: rem-calc(-15);
            }
            .wpcf7-not-valid-tip{
                display: none;
            }
            .wpcf7-response-output{
                margin: rem-calc(10 0);
                @include font-size(18px);
                padding: rem-calc(15);
                &.wpcf7-validation-errors{
                    border-color: $error;
                    color: $error;
                }
                &.wpcf7-mail-sent-ok{
                    color: $green;
                    border-color: $green;
                }
            }
            input{
                height: 50px;
                border: 2px solid $green;
                padding-left: rem-calc(30);
                text-transform: uppercase;
                background: transparent;
                @include font-size(14px);
                color: $green;
                width: 100%;
                max-width: 100%;
                &.wpcf7-not-valid{
                    border-color: $error;
                }
                &::placeholder{
                    color: $color1;
                }
                &.wpcf7-email{
                    &:focus{
                        background: transparent;
                        box-shadow: none;
                        border: 2px solid #5f7525;
                    }
                }
                &.wpcf7-submit{
                    padding: 0px;
                    width: 100%;
                    color: $green;
                    font-weight: 900;
                    transition: .3s;
                    cursor: pointer;
                    @include hover(){
                        background: $green;
                        color: $white;
                    }
                }
            }
        }
        &__social{
            ul{
                list-style: none;
                margin:0px; 
                li{
                    display: inline-block;
                    padding: 0 10px;
                    &:last-of-type{
                        padding-right: 0px;
                    }
                    &:first-of-type{
                        padding-left: 0px;
                    }
                    a{
                        display: block;
                        width: 70px;
                        height: 70px;
                        color:$font-color;
                        position: relative;
                        transition: .3s;
                        &:after{
                            transition: .3s;
                            display: block;
                            content: '';
                            position: absolute;
                            top:50%;
                            left: 50%;
                            transform: translateX(-50%) translateY(-50%) rotate(45deg);
                            width: 50px;
                            height: 50px;
                            border: 2px solid $font-color;
                        }
                        .fa{
                            position: absolute;
                            top:50%;
                            left: 50%;
                            transform: translateX(-50%) translateY(-50%);
                            @include font-size(18px);
                        }
                        @include hover(){
                            &:after{
                                border-color: $orange;
                            }
                            color: $orange;
                        }
                    }
                }
            }
        }
        &__menu{
            list-style: none;
            margin: 0;
            @media (min-width:640px){
                text-align: left;
            }
            li{
                a{
                    @include font-size(22px);
                    @include line-height(40px);
                    color: $font-color;
                    transition: .3s;
                
                    position: relative;
                    padding-left: rem-calc(40);

                    &:after,&:before{
                        transform: rotate(45deg) translateY(-50%);
                        left: 0;
                        top:50%;
                        position: absolute;
                        display: block;
                        content: '';
                        width: 11px;
                        height: 11px;
                        transition: .3s;
                    }
                    &:before{
                        border: 2px solid $orange;
                        opacity: .5;
                    }
                    &:after{
                        border: 2px solid $greenLight;
                        
                    }
                    @include hover(){
                        color: $orange;
                        &:after{
                            border-color: $orange;
                        }
                        &:before{
                            left: 6px;
                        }  
                    }
                }
            }
        }
    }
    &__bottom-info{
        margin-bottom: rem-calc(20);
        color: $font-color;
        @include font-size(16px);
        @include line-height(32px);
        &__anchor{
            color: $font-color;
            text-decoration: underline;
            transition: .3s;
            @include hover(){
                color: $green;
            }
        }
        &__tense{
            color: $greenLight;
            transition: .3s;
            @include hover(){
                color: $font-color; 
            }
        }
    }
}