.page-template-b2b,.page-template-home{
    .top-bar{
        height: 48.125rem;
        @media (max-width:1024px){
            height: 34.375rem
        }
        background: transparent;
        .small-menu{
            background: $greenLight;
        }
    }
}

.top-bar{
    padding: 0;
    background: url('../images/header.jpg');
    height: 400px;
    background-size: cover;
    position: relative;
    .slick-slider{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        .slick-list{
            margin: 0;
        }
        .slick-dots{
            background: transparent;
            max-width: 101.3rem;
            padding: 0 15px;
            margin: 0 auto;  
            position: relative;
            bottom:80px;
            text-align: left;
            li{
                button{
                    border-color: $white;
                    &:before{
                        border-color: $white;
                    }
                }
            }          
        }
        .slick-slide{
            margin: 0 !important;
            position: relative;
            overflow: hidden;
            &__content{
                position: relative;
                z-index: 10;
                height: 770px;
                @media (max-width:1024px){
                    height: 550px
                }
                @media (max-width:950px){
                    background: $green;
                }
                &__wrap{
                    position: absolute;
                    left: 15px;
                    max-width: 34.375rem;
                    @media (max-width:950px){
                        max-width: 90%;
                    }
                    width: 100%;
                    top:50%;
                    transform: translateY(-50%);
                    &__title{
                        font-weight: 900;
                        text-transform: uppercase;
                        color: $white;
                        @include font-size(25px);
                        @include line-height(60px);
                    }
                    &__subtitle{
                        font-weight: 300;
                        text-transform: uppercase;
                        color: $white;
                        @include font-size(50px);
                        @include line-height(60px);
                        margin-top: -17px;
                        margin-bottom: 20px;
                    }
                    &__content{
                        color: $white;
                        @include font-size(20px);
                        @include line-height(26px);
                        margin-bottom: 50px;
                    }
                }
            }
            &__left{
                right: 50%;
                top:0;
                float: left;
                width: 100%;
                background-color: $greenLight;
                height: 100%;
                position: absolute;
                z-index: 1;
                transform: skew(-7deg);
                background-image: url('../images/patern.svg'); 
            }
            &__img{
                position: absolute;
                top:50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                z-index: 3;
                @media (max-width:1024px) {
                    display: none;
                }
            }
        }        
    }
    .shiping{
        margin-left: 40px;
        position: relative;
        span{
            background: $orange;
            width: 1.3125rem;
            height: 1.3125rem;
            line-height: 1.3125rem;
            text-align: center;
            color: $white;
            display: block;
            position: absolute;     
            border-radius:50%; 
            top: -50%;
            left: -50%;
            font-size: .813rem;
            font-weight: 600;                        
        }
    }
    .small-menu{
        //padding-top: 20px;
        a{
            display: inline-block; 
        }
    }
    .menu-menu{
        z-index: 999;
        background: $white;
        position: absolute;
        top:0px;
        right: -450px;
        width: 450px;
        @media (max-width:500px){
            width: 280px;
        }
        transition: .3s;
        &.active{
            right: 0px;
        }
        &__close{
            @include font-size(15px);
            @include line-height(33px);
            text-transform: uppercase;
            font-weight: 900;
            color: #bbbbbb;
            float: right;
            margin: 25px 45px 5px 0;
            transition: .3s;
            cursor: pointer;
            img{
                margin-left: 15px;
            }
            @include hover{
                opacity: .5;
            }
        }
        &__login{
            margin-left: 52px;
            margin-bottom: rem-calc(40);
            margin-top: rem-calc(22);
            border: 2px solid $greenLight;
            color: $greenLight;
            font-weight: 900;
            @include font-size(14px);
            @include line-height(50px);
            width: 160px;
            text-align: center;
            display: inline-block;
            text-transform: uppercase;
            transition: .3s;
            @include hover(){
                background: $greenLight;
                color: $white;
            }
        }
        .header--title{
            @include font-size(14px);
            @include line-height(33px);
            color: $greenLight;
            font-weight: 900;
            text-transform: uppercase;
            margin:22px 0 3px 52px;
        }
        &__menu{
            list-style: none;
            margin: 0px;
            background: transparent;
            li{
               padding-left: 21px;
                a{
                    @include font-size(22px);
                    @include line-height(45px);
                    color: $black;
                    transition: .3s;
                    font-weight: 300;
                    position: relative;
                    padding-left: 30px;

                    &:after,&:before{
                        transform: rotate(45deg) translateY(-50%);
                        left: 0;
                        top:50%;
                        position: absolute;
                        display: block;
                        content: '';
                        width: 11px;
                        height: 11px;
                        transition: .3s;
                        opacity: 0;
                    }
                    &:before{
                        border: 2px solid $greenLight;
                        
                    }
                    &:after{
                        border: 2px solid $greenLight;
                        
                    }
                    @include hover(){
                        color: $greenLight;
                        font-weight: 900;
                        &:after{
                            opacity: 1;
                        }
                        &:before{
                            left: 6px;
                            opacity: .5;
                        }  
                    }
                }
                 &.current_page_item{
                     a{
                        color: $greenLight;
                        font-weight: 900;
                        &:after{
                            opacity: 1;
                        }
                        &:before{
                            left: 6px;
                            opacity: .5;
                        } 
                     }
                    
                }
            }
        }
    }
    .burger{
        margin-left: 40px;
        margin-top: 8px;
        width: 26px;
        float: right;
        cursor: pointer;
            @include hover(){
                .burger__line1,.burger__line3{
                    width: 26px !important;
                }
                .burger__line2{
                    width:22px !important;
                }
            }
            &__line1{
                margin-bottom: 5px;
            }
            &__line2{
                width: 26px !important;
                margin-bottom: 5px;
            }
            &__line3{

            }
        span{
            display: block;
            height: 2px;
            width: 22px;
            background: $white;
            transition: .3s;
        }
    }
    .top-bar-left{
        width: 100%;
        //padding: 20px 25px 0 35px;
        z-index: 5;
        position: relative;
        .logo{
            padding: 20px 0 0 35px;
            @media (max-width:460px){
                width: 200px;
                padding-left: 15px;
            }
            @media (max-width:400px){
                width: 120px
            }
        }
        .small-menu{
            padding: 1.25rem 1.5625rem;
        }
    }
    &__bread-title{
        position: absolute;
        max-width: 1630px;
        width: 100%;
        left: 50%;
        padding: 0 15px;
        transform: translateX(-50%);
        bottom: 70px;
        &__breadcrumbs{
            color: $white;
            a span{
                opacity: .5;
            }
            a,span,a span{
                @include font-size(16px);
                @include line-height(24px);
                font-weight: 900;
                text-transform: uppercase;
                color: $white;
            }
        }
        &__title{
            font-weight: 300;
            color: $white;
            @include font-size(50px);
            @include line-height(60px);
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}