.single--product{
    position: relative;
    margin: 35px 0;
    @include hover(){
        .single--product__img{
            background: #ffffff;
        }
        .single--product__img__bar{
            left: -200px;
        }
        .single--product__img__add_to_cart{
            bottom: 0px;
        }
        .single--product__img__compare,.single--product__img__add_to_favorities{
            right: 20px;
        }
        .single--product__prices__regular{
            color: $orange;
        }
    }
    &__img{
        position: relative;
        background: #fcfcfc;
        transition: .3s;
        overflow: hidden;
        
        &__compare{
            transition: .3s;
            right: -350px;
            cursor: pointer;
            position: absolute;
            top: 20px;
            @include hover(){
                .single--product__img__compare__text{
                    opacity: 1;
                }
            }
            &__text{
                position: absolute;
                @include font-size(12px);
                @include line-height(30px);
                font-weight: 900;
                color: $orange;
                text-transform: uppercase;
                background: $white;
                top:0;
                right: 40px;
                min-width: 160px;
                padding: 0 8px;
                opacity: 0;
                transition: .3s;
                -webkit-box-shadow: 0px 2px 54px -19px rgba(0,0,0,0.67);
                -moz-box-shadow: 0px 2px 54px -19px rgba(0,0,0,0.67);
                box-shadow: 0px 2px 54px -19px rgba(0,0,0,0.67);
            }
            &__icon{
                display: block;
                width: 30px;
                height: 30px;
                background: $orange;
                &__s1,&__s2,&__s3{
                    background: $white;
                    height: 2px;
                    display: block;
                    position: absolute;
                    left: 8px;
                }
                &__s1{
                    width: 14px;
                    top:10px;
                }
                &__s2{
                    width: 9px;
                    top:14px;
                }
                &__s3{
                    width: 5px;
                    top:18px;
                }
            }
        }
        &__add_to_favorities{
            transition: .3s;
            right: -350px;
            cursor: pointer;
            position: absolute;
            top: 60px;
            @include hover(){
                .single--product__img__add_to_favorities__text{
                    opacity: 1; 
                }
            }
            &__text{
                position: absolute;
                @include font-size(12px);
                @include line-height(30px);
                font-weight: 900;
                color: #bcbcbc;
                text-transform: uppercase;
                background: $white;
                top:0;
                right: 40px;
                opacity: 0;
                transition: .3s;
                padding: 0 8px;
                min-width: 160px;
                -webkit-box-shadow: 0px 2px 54px -19px rgba(0,0,0,0.67);
                -moz-box-shadow: 0px 2px 54px -19px rgba(0,0,0,0.67);
                box-shadow: 0px 2px 54px -19px rgba(0,0,0,0.67);
            }
            &__icon{
                display: block;
                width: 30px;
                height: 30px;
                background: #f2f2f2;
                color: #bcbcbc;
                position: relative;
                .fa{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }
            }
        }
        &__add_to_cart{
            position: absolute;
            left: 0;
            right: 0;
            bottom: -200px;
            @include font-size(14px);
            @include line-height(32px);
            text-transform: uppercase;
            font-weight: 900;
            text-align: center;
            color: $white;
            background: $orange;
            padding: 9px 5px;
            height: 50px;
            cursor: pointer;
            transition: .3s;
            @include hover(){
                background: $greenLight;
                color: $white;
            }
            &.spinner{
                .single--product__img__add_to_cart__text{
                    display: none;
                }
                .single--product__img__add_to_cart__spinner{
                    display: block;
                }
            }
            &__spinner{
                display: none;
                animation-name: rotatebox;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                @keyframes rotatebox {
                    from{
                        -moz-transform:rotate(0deg);
                    }       
                    to{
                        -moz-transform:rotate(360deg);
                    } 
                }
            }
        }
        &__bar{
            position: absolute;
            font-weight: 900;
            text-transform: uppercase;
            top:20px;
            left: 20px;
            @include font-size(14px);
            @include line-height(28px);
            transition: .3s;
            color: $white;
            text-align: center;
            z-index: 2;
            &__promo{
                background: $orange;
                padding: 0 8px;
                margin-bottom: 4px;
            }
            &__new{
                background: $greenLight;
                padding: 0 8px;
            }
        }
        &__promo_bar{
            position: absolute;
            font-weight: 900;
            @include font-size(14px);
            @include line-height(28px);
            color: $white;
            background: $orange;
            text-transform: uppercase;
            padding: 0 8px;
            top:20px;
            left: 20px;
            transition: .3s;
            
        }
        &__image{
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: .3s;
        }
    }
    &__title{
        font-weight: 300;
        @include font-size(18px);
        @include line-height(28px);
        text-transform: uppercase;
        color: $black;
        max-width: 270px;
        width: 100%;
        margin: 20px 0;
        transition: .3s;
        
    }
    &__prices{
        max-width: 270px;
        display: inline-block;
        &__regular{
            transition: .3s;
            float: left;
            font-weight: 900;
            @include font-size(24px);
            @include line-height(32px);
            color: $greenLight;
            letter-spacing: 1px;
        }
        &__promo{
            float: right; 
            color: #747474;
            font-weight: 300;
            @include font-size(18px);
            @include line-height(32px);
            text-decoration: line-through;
            letter-spacing: 1px;
        }
    }
    &__compare-remove{
        margin-top: 20px;
        &__button{
            cursor: pointer;
            color: #bbbbbb;
            @include font-size(14px);
            position: relative;
            font-weight: 900;
            text-transform: uppercase;
            padding-left: 20px;
            transition: .3s;
            &:after{
                position: absolute;
                content: '';
                width: 12px;
                height: 2px;
                background: #bbbbbb;
                transform: rotate(45deg);
                left: 0;
                top: 3px;
                transition: .3s;
            }
            &:before{
                position: absolute;
                content: '';
                width: 12px;
                height: 2px;
                background: #bbbbbb;
                transform: rotate(-45deg);
                left: 0;
                top: 3px;
                transition: .3s;
            }
            @include hover(){
                color: $greenLight;
                &:before,&:after{
                    background: $greenLight;
                }
            }
        }
    }
    &__rating{
        padding-top: 25px;
        margin-top: 25px;
        border-top: 1px solid #f8f8f8;
        .woocommerce-product-rating{
            .fa{
                color: $orange;
            }
            .woocommerce-product-rating__count{
                @include font-size(12px);
                @include line-height(32px);
                text-transform: uppercase;
                margin-top: -10px;
            }
        }
    }
    &__description{
        &__title{
            @include font-size(20px);
            @include line-height(60px);
            color: $black;
            text-transform: uppercase;
            font-weight: 300;
            border-bottom: 1px solid #f8f8f8;
            margin-bottom: 20px;
            margin-top: 15px;
        }
        &__content{
            max-width: 420px;
            @include font-size(18px);
            @include line-height(26px);
        }
    }
    &__sizes{
        &__title{
            @include font-size(20px);
            @include line-height(60px);
            color: $black;
            text-transform: uppercase;
            font-weight: 300;
            margin-top: 15px;
            border-bottom: 1px solid #f8f8f8;
        }
        &__content{
            ul{
                list-style: none;
                margin: 25px 0 0 0;
                li{
                    padding-left: 30px;
                    position: relative;
                    margin-bottom: 4px;
                    &:after{
                        position: absolute;
                        content: '';
                        width: 10px;
                        height: 10px;
                        transform: rotate(45deg) translateY(-50%);
                        border: 2px solid $greenLight;
                        left: 0px;
                        top:50%;
                        @include font-size(18px);
                        @include line-height(26px);
                    }
                }
            }
        }
    }
    &__add-to-cart-bottom{
        margin-top: 40px;
        &.spinner{
            .single--product__add-to-cart-bottom__text{
                display: none;
            }
            .single--product__add-to-cart-bottom__spinner{
                display: block;
            }
        }
        &__spinner{
            display: none;
            animation-name: rotatebox;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            @keyframes rotatebox {
                from{
                    -moz-transform:rotate(0deg);
                }       
                to{
                    -moz-transform:rotate(360deg);
                } 
            }
        }
    }
}