


.wc-margin{
	padding: rem-calc(120 0);
}
.woocommerce-cart-form{
	padding: rem-calc(120 0 0 0);
}
.cart-collaterals{
	padding: rem-calc(0 0 120 0);
}
.calc_shipping_state_field{
	display: none;
}
.woocommerce{
	.woocommerce-info{
		margin-bottom: rem-calc(25);
		color: $black;
		@include font-size(26px);
		@include line-height(36px);
		a{
			color: $green;
		}
	}
	.woocommerce-message{
		display: inline-block;
		margin-bottom: rem-calc(25);
		margin: rem-calc(10 0);
		@include font-size(18px);
		padding: rem-calc(15);
		color: $greenLight;
		border-color: $greenLight;
		a{
			color: $greenLight;
		}
		.button{
			display: none;
		}
	}
}
.woocommerce-order-details{
	a{
		color: $greenLight;
	}
}
#order_review{
	.shipping{
		@media (max-width:640px){
			th{
				width: 140px;
			}
		}
	}
}
.cart_totals{
	.shipping{
		
		td{
			&:last-of-type{
				
				@media (min-width:769px){
					max-width: 12.5rem;
				}
			}
		}
	}
}
.cart_totals,.woocommerce-order,.woocommerce-customer-details,.woocommerce-order-details{
	h2,h3{
		color: $black;
		@include font-size(26px);
		@include line-height(36px);
		text-transform: uppercase;
		font-weight: 300;
	}
	ul{
        list-style: none;
        margin: 0;
        li{
            position: relative;
            list-style: none;
            padding-left: rem-calc(30);
            &:after{
                transform: rotate(45deg) translateY(-50%);
                left: 0;
                top:50%;
                position: absolute;
                display: block;
                content: '';
                width: 11px;
                height: 11px;
                transition: .3s;
            }
            &:after{
                border: 2px solid $greenLight;           
            }
        }
    }
}
.woocommerce-billing-fields{
	h3{
		color: $black;
		@include font-size(26px);
		@include line-height(36px);
		text-transform: uppercase;
		font-weight: 300;
	}
}
#order_review_heading{
	color: $black;
	@include font-size(26px);
	@include line-height(36px);
	text-transform: uppercase;
	font-weight: 300;
}
.shop_table__title{
	@include font-size(14px);
	color: $font-color;
	text-transform: uppercase;
	font-weight: 900;
	margin: 30px 0 0 0;
}
.shop_table:not(.my_account_orders){
	&__title{
		@include font-size(14px);
		color: $font-color;
		text-transform: uppercase;
		font-weight: 900;
		margin: 30px 0 0 0;
	}
	.actions{
		.coupon{
			#coupon_code{
				float: left;
				height: rem-calc(51);
				width: rem-calc(103) !important;
			}
			.button{
				float: left;
			}
		}
	}
	.product-quantity{
		.shop_table__title{
			margin-top: rem-calc(20);
		}
		.quantity{
			margin-top: rem-calc(6);
			width: 150px;
			border: 2px solid #f2f2f2;
			display: inline-block;
			#remove-qt,#add-qt{
				cursor: pointer;
			}
			input{
				@include font-size(14px);
				font-weight: 900;
				color: $greenLight;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				margin: 0; 
			}
			input,#remove-qt,#add-qt{
				width: 48.6px;
				float: left;
				text-align: center;
				border:none;
				height: rem-calc(48);
				position: relative;
				box-shadow: none;
				margin-bottom: 0;
				span{
					position: absolute;
					top:50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
					@include font-size(20px);
					font-weight: 900;
				}
			}
		}
	}
	.product-remove{
		width: rem-calc(140);
		vertical-align: middle;
		text-align: center;		
		&__url{
			position: relative;
			width: 20px;
			height: 20px;
			&:after{
				position: absolute;
				content: '';
				display: block;
				width: 20px;
				height: 2px;
				background: #bbbbbb;
				top:50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%) rotate(45deg);
				transition: .3s;
			}
			&:before{
				position: absolute;
				content: '';
				display: block;
				width: 20px;
				height: 2px;
				background: #bbbbbb;
				top:50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%) rotate(-45deg);
				transition: .3s;
			}
			@include hover(){
				&:before,&:after{
					background: $greenLight;
				}
			}
		}
	}
	.product-thumbnail{
		width: rem-calc(160);
		&__img{
			max-width: 133px;
			max-height: 133px;
			background: #fcfcfc;
			position: relative;
			img{
				position: absolute;
				top:50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				max-width: 80%;
			}
		}
	}
	.product-name{
		&__category{
			@include font-size(13px);
			@include line-height(24px);
			color: $greenLight;
			text-transform: uppercase;
			font-weight: 900;
			margin: 10px 0 0 0;
		}
		&__title{
			@include font-size(18px);
			@include line-height(24px);
			color: $black;
			text-transform: uppercase;
			font-weight: 300;
			margin-top: rem-calc(-6);
			a{
				color: $black;
			}
		}
		&__variations{
			&__single{
				@include font-size(18px);
				@include line-height(26px);
				color: $font-color;
				text-transform: uppercase;
			}
		}
	}
	.woocommerce-Price-amount{
		@include font-size(24px);
		@include line-height(32px);
		color: $greenLight;
		text-transform: uppercase;
		font-weight: 900;
	}
	thead,tfoot{
		background-color: transparent !important;
	}
	tbody{
		tr{
			background-color: transparent !important;
			&:last-of-type{
				td{
					border-bottom: none;
				}
			}
			td{
				padding-top: rem-calc(30);
				padding-bottom: rem-calc(30);
				&.product-price,&.product-subtotal,&.product-quantity{
					text-align: center;
				}
				border-bottom: 2px solid #f8f8f8;
			}
		}
	}
}
#shipping_method{
	list-style: none;
	margin: 0;
	@media (max-width:768px){
		width: 166px;
		display: inline-block;
		text-align: left;
	}
	li{
		padding: 0;
		display: block;
		position: relative;
		margin-bottom: 0.9375rem;
		margin-bottom: 10px;
		label{
			span{
				font-size: 0.875rem;
			}
		}
	}
}
#bank-selection-form,#bank-selection-form2{
	label{
		&:after,&:before{
			display: none !important;
		}
	}
}
.woocommerce-checkout{
	#order_review{
		tfoot{
			tr:nth-child(odd){
				background: #F1F0F0 !important;
			}
		}
	}
}
#ship-to-different-address{
	display: inline-block;
	width: 100%;
}
.wc_payment_methods{
	list-style: none;
	margin: 0;
	li{
		margin-bottom: 10px;
	}
}
.woocommerce{
	.woocommerce-order-details{
		margin-top: 2.5rem;
	}
	.woocommerce-notice--success{
		margin: rem-calc(10 0);
		@include font-size(18px);
		padding: rem-calc(15);
		border: 2px solid $green;
		color: $green;
		display: inline-block;
	}
	.woocommerce-table--order-details{
		.woocommerce-table__product-name{
			font-size: 1.125rem;
		}
		tbody{
			td{
				border-bottom:2px solid #f2f2f2 !important;
			}
		}
		tfoot{
			tr{
				th{
					text-align: right;
				}
			}
		}
	}
	.woocommerce-table--customer-details{
		text-align: left;
		th{
			width: 12.5rem;
		}
		th,td{
			font-weight: 900;
			color: $black;
			border-bottom: none !important;
		}
	}
	#shipping_method{
		input{
			appearance: none;
			width: 24px;
			height: 24px !important;
			border: 2px solid $green !important;
			display: inline-block !important;
			padding: 0 !important;
			float: left;
			z-index: 1;
			position: relative;
			background: $white;
			margin: 0 !important;
			&:checked{
				+ label{
					color: $green;
					&:after{
						top: 0px;
						left: -34px;
					}
					&:before{
						opacity: 1;
					}
				}
			}
		}
		label{
			font-size: 0.825rem;
			position: relative;
			margin-left: 10px;
			transition: .3s;
			font-weight: 900;
			text-transform: uppercase;
			&:after{
				width: 24px;
				height: 24px !important;
				border: 2px solid $green !important;
				opacity: 0.5;
				position:absolute;
				content:'';
				top: 5px;
				left: -39px;
				transition: .3s;
			}
			&:before{
				width: 24px;
				height: 24px;
				background-image: url('../images/tick.png');
				background-position: center;
				background-repeat: no-repeat;
				content: '';
				display: block;
				left: -35px;
				top: 0px;
				z-index: 2;
				opacity: 0;
				transition: .3s;
				position: absolute;
			}
		}
	}
	.wc_payment_method{
		input{
			appearance: none;
			width: 24px;
			height: 24px !important;
			border: 2px solid $green !important;
			display: inline-block !important;
			padding: 0 !important;
			float: left;
			z-index: 1;
			position: relative;
			background: $white;
			margin-bottom: 0;
			&:checked{
				+ label{
					color: $green;
					&:after{
						top: 0px;
						left: -34px;
					}
					&:before{
						opacity: 1;
					}
				}
			}
		}
		label{
			font-size: 0.875rem;
			position: relative;
			margin-left: 10px;
			transition: .3s;
			font-weight: 900;
			text-transform: uppercase;
			&:after{
				width: 24px;
				height: 24px !important;
				border: 2px solid $green !important;
				opacity: 0.5;
				position:absolute;
				content:'';
				top: 5px;
				left: -39px;
				transition: .3s;
			}
			&:before{
				width: 24px;
				height: 24px;
				background-image: url('../images/tick.png');
				background-position: center;
				background-repeat: no-repeat;
				content: '';
				display: block;
				left: -34px;
				top: 0px;
				z-index: 2;
				opacity: 0;
				transition: .3s;
				position: absolute;
			}
		}
	}
	.woocommerce-form__label-for-checkbox{
		input{
			appearance: none;
			width: 24px;
			height: 24px !important;
			border: 2px solid $green !important;
			display: inline-block !important;
			padding: 0 !important;
			float: left;
			z-index: 1;
			position: relative;
			background: $white;
			margin-bottom: 0;
			&:checked{
				+ span{
					color: $green;
					&:after{
						top: -5px;
						left: -37px;
					}
					&:before{
						opacity: 1;
					}
				}
			}
		}
		span{
			font-size: 0.875rem;
			position: relative;
			margin-left: 5px;
			transition: .3s;
			&:after{
				width: 24px;
				height: 24px !important;
				border: 2px solid $green !important;
				opacity: 0.5;
				position:absolute;
				content:'';
				top: 0px;
				left: -42px;
				transition: .3s;
			}
			&:before{
				width: 24px;
				height: 24px;
				background-image: url('../images/tick.png');
				background-position: center;
				background-repeat: no-repeat;
				content: '';
				display: block;
				left: -37px;
				top: -3px;
				z-index: 2;
				opacity: 0;
				transition: .3s;
				position: absolute;
			}
		}
	}
}