.clearfix {
    clear: both;
}
.row-big {
    max-width: 1630px;
    margin: 0 auto;
}
.lang-header {
    display: none;
    height: 40px;
    background: #f9fafa;
    border-bottom: 1px solid #eeeeee;
}
.logo-header {
    padding: 12px 0;
    img.logo-img {
        width: 200px;
    }
    .small-menu {
        margin-top: 7px;
        &>a {
            display: inline-block;
            position: relative;
            margin-left: 30px;
            &.shiping span {
                background: #95c121;
                width: 1.3125rem;
                height: 1.3125rem;
                line-height: 1.3125rem;
                text-align: center;
                color: #fff;
                display: block;
                position: absolute;
                border-radius: 50%;
                top: -31%;
                left: -37%;
                font-size: 12px;
                font-weight: 700;
            }
        }
    }
}
.menu-header {
    background: #2e2e2e;
    .columns {
        position: relative;
    }
    #menu-header-menu, #menu-header-menu-1 {
        li {
            position: relative;
            display: inline-block;
            a {
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                color: #fff;
                line-height: 60px;
                line-height: 38px;
                display: inline-block;
                padding: 3px 25px;
                &:hover {
                    background: #94bf21;
                    color: #fff;    
                }
            }
            &.active a {
                background: #94bf21;
                color: #fff;
            }
            &>.sub-menu {
                overflow: hidden;
                box-shadow: 0px 2px 13px 1px rgba(0,0,0,0.3);
                display: none;
                border-top: 3px solid #94c021;
                position: absolute;
                z-index: 9999; 
                width: 300px;
                background: #fff;
                margin: 0;
                li {
                    display: block;
                    a {
                        background: #fff;
                        font-size: 14px;
                        color: #000;
                        transition: all 0.3s;
                        border-left: 3px solid transparent;
                        display: block;
                        padding: 1px 25px;
                        line-height: 32px;
                        &:hover {
                            color: #fff;
                            background: #94c021;
                            padding-left: 50px;
                            &:before {
                                opacity: 1;
                                left: 25px;
                            }
                        }
                        &:before {
                            display: block;
                            opacity: 0;
                            transform: rotate(45deg) translateY(-50%);
                            left: 0;
                            top: 48%;
                            position: absolute;
                            content: '';
                            width: 11px;
                            height: 11px;
                            border: 2px solid #fff;
                            transition: all 0.3s;
                        }
                    }
                    &.menu-break {
                        a {
                            text-indent: 99999px;
                            cursor: initial;
                            &:hover {
                                background: #fff;
                            }
                        }
                    }
                    &.active a {
                        color: #fff;
                        background: #94c021;
                        padding-left: 50px;
                        &:before {
                            opacity: 1;
                            left: 25px;
                        }
                    }
                }
            }
            &:hover>.sub-menu {
                display: block;
            }
        }
    }
    .facebook-icon {
        position: absolute;
        right: 15px;
        top: 46%;
        transform: translateY(-50%);
    }
}
.icons-header {
    .single-icon {
        border-right: 1px solid #eeeeee;
        padding: 0 28px 0 28px;
        font-size: 14px;
        line-height: 40px;
        color: #858585;
        display: inline-block;
        img {
            display: inline-block;
            margin-right: 10px;
        }
        &:last-of-type {
            border: none;
        }
    }
}
.home {
    .main_contactform {
        margin: 2.6875rem 0 3.1875rem 0;
    }
    .top-bar .slick-slider {
        .button-b {
            letter-spacing: 1.2px;
            padding: 13px 29px;
            margin-right: 6px;
        }
        .slick-slide__content {
            height: 500px;
        }
    }
    .top-bar {
        height: 500px;
    }
    header .top-bar .slick-slider .slick-dots {
        display: none !important;
    }
    .main-wrap-cms {
        padding: 0;
        .about-us-cont {
            background: #fcfcfc;
            padding: 70px 0 40px 0;
            .row-big {
                max-width: 920px;
                .content {
                    p {
                        color: #858585;
                        font-size: 18px;
                        line-height: 31px;
                        margin-bottom: 32px;
                    }
                }
            }
        }
        .home-categories {
            border-bottom: 2px solid #f8f8f8;
            padding: 50px 0 5px 0;
            .home-text-cat {
                font-weight: 300;
                text-transform: uppercase;
                font-size: 24px;
                color: #000;
                text-align: center;
                padding: 10px 0 60px;
            }
            .page-template-home__products__list {
                .columns {
                    margin-bottom: 55px;
                }
            }
            .home-cat-box {
                background: #fcfcfc;
                height: 100%;
                transition: 0.3s all;
                padding: 32px 30px;
                position: relative;
                &__url {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                &__icon {
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: -24px;
                    right: 10px;
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translateX(-50%) translateY(-50%);
                        -moz-transform: translateX(-50%) translateY(-50%);
                        -ms-transform: translateX(-50%) translateY(-50%);
                        -o-transform: translateX(-50%) translateY(-50%);
                        transform: translateX(-50%) translateY(-50%);
                        z-index: 2;
                        max-width: 80%;
                        max-height: 80%;
                    }
                    &:after {
                        width: 50px;
                        height: 50px;
                        content: '';
                        display: block;
                        position: absolute;
                        background: #95c121;
                        left: 70%;
                        transform: rotate(-45deg) translateY(-50%) translateX(-50%);
                        transition: .3s;
                        z-index: 1;
                    }
                }
                &__title {
                    font-weight: 900;
                    color: #95c121;
                    text-transform: uppercase;
                    font-size: 20px;
                    line-height: 32px;
                }
                /*&__img {
                    max-height: 200px;
                    display: block;
                    margin: 20px auto 0;
                }*/
                &:hover {
                    box-shadow: 0px 0px 19px 2px #f3f3f3;
                    background: #fff;
                    .home-cat-box__icon {
                        &:after {
                            background: #f59d0f;
                        }
                    }
                }
            }
            &.home-sale {
                border-bottom: none;
            }
        }
        .more-cont {
            text-align: center;
            margin: 20px 0;
        }
        .home-best {
            padding: 50px 0 30px 0;
            .medium-2 {
                min-height: 330px;
            }
            .home-text-cat {
                padding: 10px 0 35px;
            }
            .button-b {
                font-size: 14px;
                letter-spacing: 1.2px;
                padding: 13px 53px;
                text-align: center;
                font-weight: 700;
                background: #95c121;
                color: #fff;
                border: 2px solid #95c121;
                height: auto;
                &:hover {
                    background: #f59d0f;
                    border-color: #f59d0f;
                }
            }
            .single--product {
                &__title {
                    font-weight: 300;
                    font-size: 15px;
                    color: #000;
                    margin-top: 13px;
                    margin-bottom: 7px;
                    line-height: 19px;
                }
                &__img {
                    background: #fcfcfc;
                    &__image {
                        padding: 10px;
                    }
                }
                &__prices__regular {
                    font-weight: 700;
                    font-size: 18px;
                    color: #95c121;
                    del {
                        color: #858585;
                        font-size: 16px;
                        font-weight: 400;
                    }
                    ins {
                        text-decoration: none;
                    }
                }
            }
        }
        .home-newsletter {
            padding: 60px 0 10px;
            background: #fcfcfc;
            .row-small {
                text-align: center;
                max-width: 800px;
                margin: 0 auto;
            }
            &__title1 {
                text-transform: uppercase;
                font-weight: 900;
                font-size: 20px;
                color: #95c121;
            }
            &__title2 {
                text-transform: uppercase;
                font-weight: 300;
                font-size: 36px;
                color: #000;
                line-height: 41px;
                margin-bottom: 24px;
            }
            &__desc {
                font-size: 22px;
                line-height: 32px;
            }
            .main_contactform {
                label {
                    font-weight: 700;
                    font-size: 14px;
                    text-align: left;
                    span {
                        font-size: 18px;
                        color: #95c121 !important;
                    }
                }
                .wpcf7-text, .wpcf7-email {
                    font-weight: 400;
                    padding: 15px 17px;
                    height: auto;
                }
                .wpcf7-submit {
                    margin-top: 33px;
                    width: 100%;
                    height: auto;
                    line-height: 16px;
                    padding: 15px 18px;
                    background: #95c121;
                    font-weight: 700;
                    font-size: 14px;
                    color: #fff;
                    &:hover {
                        background: #f59d0f;
                        border-color: #f59d0f;
                    }
                }
            }
            .freshmail-cont {
                &>div>div {
                    background: transparent !important;
                }
                .form_subscribe {
                    .input-parent {
                        position: relative;
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            border: 2px solid #f2f2f2;
                            left: -9px;
                            bottom: -9px;
                            transition: .3s;
                        }
                    }
                    .checkbox-parent {
                        margin-top: 30px !important;
                        position: relative;
                        input[type="checkbox"] {
                            position: absolute;
                            top: 7px;
                        }
                        span {
                            cursor: pointer;
                            display: inline-block;
                            padding-left: 35px;
                            position: relative;
                            &:before {
                                display: inline-block;
                                width: 24px;
                                height: 24px;
                                border: 2px solid #f2f2f2;
                                transition: .3s;
                                position: relative;
                                z-index: 1;
                                background: #fefefe;
                                margin-bottom: -0.375rem;
                                margin-right: 0.3125rem;
                                content: '';
                                position: absolute;
                                left: 0;
                                background-repeat: no-repeat;
                                background-position: 6px 5px;
                            }
                            &:after {
                                position: absolute;
                                content: '';
                                display: block;
                                width: 24px;
                                height: 24px;
                                border: 2px solid #f2f2f2;
                                opacity: 0.5;
                                left: -5px;
                                top: 5px;
                                z-index: 0;
                                transition: .3s;
                            }
                        }
                        &.is-active {
                            span {
                                &:before {
                                    background-image: url(../images/tick.png);
                                    border-color: #95c121;
                                }
                                &:after {
                                    border-color: #95c121;
                                }
                            }
                        }
                    }
                }
                .label {
                    background: transparent;
                }
                [type='text'], [type='email'] {
                    box-shadow: none;
                    padding: 15px 17px !important;
                    background: #fefefe;
                    z-index: 1;
                    position: relative;
                    text-transform: uppercase;
                    &:focus {
                        border: 2px solid #f59d0f !important;
                    }
                }
                [type="submit"] {
                    text-transform: uppercase;
                    font-weight: 700;
                    width: 226px !important;
                    float: right;
                }
                .message_error {
                    display: block;
                    border: 2px solid #e74c3c;
                    padding: 10px;
                    margin-bottom: 10px;
                }
                .message_success {
                    display: block;
                    border: 2px solid #8eb81f;
                    padding: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.footer {
    padding-top: 4rem;
    .footer__main__menu li a {
        font-size: 18px;
        line-height: 40px;
    }
    .menu > li {
        display: block;
    }
    .menu > li > a {
        padding-top: 0;
        padding-bottom: 0;
    }
    .widgettitle, .footer--title {
        color: #95c121;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 32px;
        line-height: 2rem;
        font-weight: 900;
        margin-bottom: 13px;
        margin-top: 0.625rem;
    }
    .delivery-li {
        margin: 23px 0 41px 0;
        li {
            background: #fff;
            height: 60px;
            width: 60px;
            margin-bottom: 2px;
            position: relative;
            display: inline-block;
            vertical-align: top; 
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 80%;
            }
        }
    }
    .footer__bottom-info {
        font-size: 16px;
        margin: 0;
    }
    .menu .active > a {
        background: transparent;
        color: #f59d0f;
        &:before {
            left: 6px;
            border: 2px solid #f59d0f;
            opacity: .5;
        }
        &:after {
            border-color: #f59d0f;
        }
    }
    #scrollToTop {
        position: absolute;
        z-index: 9;
        background: transparent;
        border: 3px solid #95c121;
        width: 155px;
        height: 106px;
        border-radius: 45%;
        color: #fefefe;
        cursor: pointer;
        bottom: -53px;
        left: 50%;
        transition: all 0.3s;
        transform: translateX(-50%);
        i {
            width: 13px;
            height: 17px;
            top: 30%;
            background-image: url(../images/arrow_scroll_top.png);
            &:before {
                display: none;
            }
        }
        &:hover {
            border-color: #f59d0f;
        }
    }
}
.single-product__top {
    &__fav_com {
        display: none;
    }
    .variations_form p {
        font-size: 16px;
    }
}
.single-product__medium {
    .content-wrap h3 {
        font-size: 20px;
        line-height: 25px;
    }
    .content-wrap p {
        font-size: 16px;
    }
    .content-wrap ul li {
        font-size: 16px;
    }
    .returns_tab, .shipping_tab {
        display: none !important;
    }
    .product_certificates_rep_cont {
        margin-bottom: 10px;
        .button-b-cer {
            font-size: 16px;
            color: #858585;
        }
        .button-b {
            margin-left: 10px;
            padding: 10px 15px;
        }
    }
}

.breadcrumbs-cont {
    background: #f5f5f5;
    padding: 10px 15px;
    .top-bar__bread-title__breadcrumbs {
        padding: 0 20px;
        color: #858585;
        a, span, a span {
            color: #858585;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
        }
    }
}

.woocommerce-product-search {
    margin-top: -40px;
}

.single-product .woocommerce-tabs {
    padding-top: 2rem;
}

.reveal.full {
    padding: 0;
}

body:not(.home):not(.error404) #top-bar-menu {
    display: none;
}

.black-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.single-product__top__right .woocommerce-product-details__short-description p {
    font-size: 16px;
}
.single-product__top__right .product_title {
    padding-right: 90px;
}
.page-template-b2b__left__subtitle {
    font-size: 1.3625rem;
}
.page-template-b2b__left__title {
    font-size: 2.125rem;
}
.single--product__img {
    max-height: 310px;
    .img-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
    }
}
.single--product__img__image {
    max-height: 180px;
}

.edu-suggest {
    line-height: 2.75rem;
    letter-spacing: 1px;
    font-size: 20px;
    span {
        letter-spacing: 1px;
        font-size: 36px;
        line-height: 41px;
    }
}

.single--product__img__compare,
.single--product__img__add_to_favorities {
    display: none;
}

.single--product__title {
    font-weight: 300;
    font-size: 15px;
    color: #000;
    margin-top: 13px;
    margin-bottom: 7px;
    line-height: 19px;
}
.single--product__prices__regular {
    font-weight: 700;
    font-size: 18px;
    color: #95c121;
    del {
        color: #858585;
        font-size: 16px;
        font-weight: 400;
    }
    ins {
        text-decoration: none;
    }
}

.cart_totals h2, 
.cart_totals h3, 
.woocommerce-order h2, 
.woocommerce-order h3, 
.woocommerce-customer-details h2, 
.woocommerce-customer-details h3, 
.woocommerce-order-details h2, 
.woocommerce-order-details h3 {
    font-size: 1.4rem;
}


.product-list-page__filters__filtr__input:before {
    background: url(../images/tick.png); 
}
.pagination .page-numbers.next:before, .pagination .page-numbers.prev:before {
    background-image: url(../images/arrow-left.png);
}
.pagination .page-numbers.next:hover:before, .pagination .page-numbers.prev:hover:before {
    background-image: url(../images/arrow-left2.png);
}

.page-template-contact .main_paragraph {
    font-size: 16px;
    center {
        text-align: left;
        &>span {
            font-size: 20px !important;
        }
    }
}
.main_paragraph {
    font-size: 16px;
    line-height: 27px;
}
p {
    font-size: 16px;
}

.accordion .accordion-item .accordion-title {
    font-size: 16px;
}
.accordion .accordion-item .accordion-content {
    font-size: 16px;
    line-height: 26px;
}

h2 {
    font-size: 22px;
}
.main-wrap-cms {
    padding: 4rem 0 3rem 0;
}
.single-product__top__back {
    margin-top: 2.0625rem;
}

.single-product__top .large-5 .onsale {
    display: none;
}
.price-product {
    del {
        font-size: 16px;
    }
    &>.woocommerce-Price-amount, ins {
        color: #95c121;
        font-size: 1.5rem;
        line-height: 2rem;
        text-transform: uppercase;
        font-weight: 900;
        text-decoration: none;
        display: block;
        margin-bottom: 10px;
    }
}

@media (max-width: 1365px) {
    .product-list-page {
        .single--product {
            width: 33.333333%;
        }
    }
    .top-bar .slick-slider .slick-slide__content__wrap__title {
        line-height: 2.2rem;
        margin-bottom: 13px;
    }
    .top-bar .slick-slider .slick-slide__content__wrap__subtitle {
        font-size: 2.125rem;
        line-height: 2.75rem;
        margin-top: -2px;
    }
    .footer {
        .fot1 {
            width: 30%;
        }
        .fot2 {
            width: 30%;
        }
        .fot3 {
            width: 40%;
        }
    }
}

@media (max-width: 1199px) {
    .home {
        .main-wrap-cms .home-categories .page-template-home__products__list {
            margin: 0 auto;
            max-width: 800px;
            .medium-4 {
                width: 50%;
            }
        }
        .best-sellers-home {
            max-width: 810px;
            margin: 0 auto;
            .home-products-col {
                width: 33.333333%;
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 1050px) {
    .footer {
        .fot1 {
            width: 27%;
        }
        .fot3 {
            width: 43%;
        }
    }
}

@media (max-width: 1023px) {
    .home .main-wrap-cms .home-newsletter .main_contactform .wpcf7-submit {
        line-height: 12px;
        margin-top: 25px;
    }
    .footer {
        .fot1, .fot2 {
            width: 50%;
        }
        .fot3 {
            width: 100%;
            text-align: left;
        }
        .footer-delivery {
            margin-top: 50px;
        }
        .footer__bottom-info {
            text-align: center;
        }
        .margin-top-70 {
            margin-top: 40px;
            margin-bottom: 60px;
        }
    }
}

@media (max-width: 991px) {
    .icons-header .single-icon {
        padding: 0 10px;
    }
    .menu-header #menu-header-menu li a {
        padding: 11px 15px;
    }
    .menu-header #menu-header-menu li > .sub-menu {
        width: 230px;
    }
}

@media (max-width: 880px) {
    .icons-header .single-icon {
        padding: 0 28px;
        width: 49%;
        border: none;
    }
}

.mobile-burger, .top-bar-mobile {
    display: none;
}

@media (max-width: 767px) {
    .top-bar.top-bar-mobile {
        height: auto;
        display: block;
        .menu-menu__menu {
            h4 {
                font-size: 14px;
                font-size: 0.875rem;
                line-height: 33px;
                line-height: 2.0625rem;
                color: #95c121;
                font-weight: 900;
                text-transform: uppercase;
                margin: 22px 0 3px 52px;
            }
            ul {
                list-style: none;
                margin: 0px;
                background: transparent;
                li {
                    display: block;
                    a {
                        display: block;
                        line-height: 2.8125rem;
                        padding: 0 0 0 30px;
                    }
                }
            }
            .menu-header-menu-container {
                display: block;
            }
            li.current_page_item a {
                background: transparent;
            }
        }
    }
    .home {
        .best-sellers-home {
            max-width: 540px;
            .home-products-col {
                width: 50%;
            }
        }
    }
    .menu-header-menu-container {
        display: none;
    }
    .menu-header {
        padding: 10px 0;
    }
    .mobile-burger {
        display: inline-block;
        margin-left: 10px;
        margin-top: 4px;
        width: 26px;
        cursor: pointer;
        span {
            display: block;
            height: 2px;
            width: 22px;
            background: #fefefe;
            transition: .3s;
            &.burger__line1 {
                margin-bottom: 5px;
            }
            &.burger__line2 {
                width: 26px !important;
                margin-bottom: 5px;
            }
        }
    }
    .product-list-page {
        .single--product {
            width: 50%;
        }
    }
}


@media (max-width: 639px) {
    .icons-header {
        padding: 10px 0;
        .single-icon {
            padding: 0 20px;
            width: 100%;
        }
    }
    .home .main-wrap-cms {
        .home-categories .page-template-home__products__list {
            max-width: 400px;
            .medium-4 {
                width: 100%;
            }
        }
        .about-us-cont {
            padding: 57px 0 20px 0;
        }
        .home-best {
            padding: 60px 0 45px 0;
        }
        .home-newsletter {
            padding: 55px 0 35px;
            .main_contactform .wpcf7-submit {
                width: auto;
            }
        }
    }
    .footer {
        .fot1, .fot2 {
            width: 100%;
            text-align: left;
        }
        .fot2 {
            margin-top: 20px;
        }
        .footer-delivery {
            margin-top: 35px;
        }
    }
}

@media (max-width: 550px) {
    .home {
        .best-sellers-home {
            max-width: 270px;
            .home-products-col {
                width: 100%;
                margin-bottom: 30px;
            }
        }
        .main-wrap-cms .home-best .medium-2 {
            min-height: 1px;
        }
    }
    .product-list-page {
        .single--product {
            width: 100%;
        }
    }
}

@media (max-width: 430px) {
    .logo-header img.logo-img {
        width: 155px;
    }
    .logo-header .small-menu {
        margin-top: 3px;
        & > a {
            margin-left: 17px;
        }
    }
}

@media (max-width: 399px) {
    .home .top-bar .slick-slider .slick-slide__content__wrap__subtitle {
        font-size: 2.125rem;
        line-height: 2.75rem;
        margin-top: -9px;
    }
    .home .top-bar .slick-slider .button-b {
        padding: 13px 16px;
    }
}