.home .main-wrap-cms .home-categories .home-cat-box__title {
    font-weight: 600;
}
.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left;
}
.home .main-wrap-cms .home-best {
    padding-bottom: 50px;
}
.menu-header .facebook-icon {
    /* background-image: url(../images/facebook-icon.png); */
    background-image: url(../images/combined.png);
    background-position: -92px 2px;
    width: 15px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-header .facebook-icon img {
    display: none;
}
.menu-header .facebook-icon:hover {
    /* background-image: url(../images/facebook_icon_hover.png); */
    background-image: url(../images/combined.png);
    background-position: -92px 2px;
}

.page-template-contact .main_contactform .wpcf7-submit,
.page-template-hurt .main_contactform .wpcf7-submit {
    float: left;
}
.page-template-contact div.wpcf7 .ajax-loader,
.page-template-hurt div.wpcf7 .ajax-loader {
    position: relative;
    top: 70px;
    left: -131px;
}
.woocommerce .woocommerce-form-login.login .woocommerce-form__label-for-checkbox span:after {
    left: -34px;
}
.woocommerce .woocommerce-form-login.login .woocommerce-form__label-for-checkbox span:before {
    left: -30px;
}
.woocommerce .woocommerce-form-login.login .woocommerce-form__label-for-checkbox input:checked + span:after {
    top: -4px;
    left: -29px;
}
.woocommerce-account #content, .woocommerce-checkout #content, .woocommerce #content {
    margin-top: 3.5rem;
}

.mCSB_scrollTools .mCSB_draggerRail {
    width: 6px;
}
.logo-header {
    height: 64px;
}
.icons-header {
    margin-top: 44px;
}
.menu-header {
    position:absolute;
    top:64px;
    width:100%;
    z-index: 998;
}
.fixed {
    position:fixed;
    top:0;
}

.top-bar .menu-menu {
    position: fixed;
    height: 100vh;
}

@media (max-width: 767px) {
    .top-bar .menu-menu__menu li.current_page_item a {
        color: #0a0a0a;
        font-weight: 300;
    }
    .top-bar .menu-menu__menu li.current_page_item>a {
        color: #95c121;
        font-weight: 900;
    }
    .top-bar .menu-menu__menu li.current_page_item a:before {
        left: 0;
        opacity: 0;
    }
    .top-bar .menu-menu__menu li.current_page_item>a:before, .top-bar .menu-menu__menu li.active>a:before {
        left: 6px;
        opacity: .5;
    }
    .top-bar .menu-menu__menu li.current_page_item a:after {
        opacity: 0;
    }
    .top-bar .menu-menu__menu li.current_page_item>a:after, .top-bar .menu-menu__menu li.active>a:after {
        opacity: 1;
    }
    .menu-menu__menu .menu .active > a {
        background: transparent;
        color: #95c121 !important;
        font-weight: 900 !important;
    }   
}

@media (max-width: 1024px) and (min-width: 768px) {
    .menu-header #menu-header-menu li a, .menu-header #menu-header-menu-1 li a {
        padding: 3px 8px;
    }
}

.single-product__top__right__wrap .price_woo_edit del {
    font-weight: normal;
    line-height: 1.5;
    color: #858585;
    font-size: 16px;
}

.single-product__top__right__wrap .price_woo_edit ins {
    color: #95c121;
    font-size: 1.5rem;
    line-height: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}
.single-product__top__gallery__img,
.single--product__img,
.home .main-wrap-cms .home-categories .home-cat-box,
.home .main-wrap-cms .home-best .single--product__img {
    background: white;
}

h1 {
    font-size: 16px;
}
h2 {
    font-size: 14px;
}


/************************ blog, post single, home questions *******************/


/************* home.php **************/

.home .main-wrap-cms .home-categories.home-questions {
    border-top: 2px solid #f8f8f8;
    border-bottom: none;
    padding: 50px 0 15px;
}
.home .main-wrap-cms .home-categories.home-questions .medium-4 {
    margin-bottom: 50px;
}
.home-questions .box {
    text-align: center;
}
.home-questions .box .question {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}
.home-questions .box .icon {
    margin-bottom: 18px;
    height: 45px;
}
.home-questions .box .icon img {
    max-height: 45px;
}
@media (max-width: 767px) {
    .home .main-wrap-cms .home-categories.home-questions .medium-4 {
        width: 100%;
    }
}

.home .main-wrap-cms .home-categories.home-blog {
    border-top: 2px solid #f8f8f8;
    border-bottom: none;
    padding: 50px 0;
}

.home .main-wrap-cms .home-categories.home-blog .title a {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 15px;
    color: #858585;
    transition: all 0.3s;
}

.home .main-wrap-cms .home-categories.home-blog .box {
    box-shadow: 0px 0px 19px 2px #f3f3f3;
    background: #fff;
    padding: 15px 15px 85px;
    height: 100%;
    position: relative;
    transition: all 0.3s;
}

.home .main-wrap-cms .home-categories.home-blog .box .box-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home .main-wrap-cms .home-categories.home-blog .box:hover {
    box-shadow: 0px 0px 19px 2px #dcd9d9;
}
.home .main-wrap-cms .home-categories.home-blog .box:hover .title a {
    color: #95c121;
}

.home .main-wrap-cms .home-categories.home-blog .box:hover .button-b {
    background: #95c121;
    color: #fefefe;
}

.home .main-wrap-cms .home-categories.home-blog .box .more-cont {
    margin: 20px 0 0;
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;

}
.home .main-wrap-cms .home-categories.home-blog .box .more-cont .button-b {
    padding: 10px 30px;
}

.home .main-wrap-cms .home-categories.home-blog .medium-4 {
    margin-bottom: 30px;    
}   

.home .main-wrap-cms .home-categories.home-blog .excerpt p {
    margin-bottom: 0;
}

.home .main-wrap-cms .home-categories.home-blog .box .title {
    margin-bottom: 15px;
}

.home .main-wrap-cms .home-categories.home-blog .box .img {
    height: 220px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-bottom: 20px;
}

.home .main-wrap-cms .home-categories.home-blog .more-cont.main .button-b {
    font-size: 14px;
    letter-spacing: 1.2px;
    padding: 13px 53px;
    text-align: center;
    font-weight: 700;
    background: #95c121;
    color: #fff;
    border: 2px solid #95c121;
    height: auto;
}
.home .main-wrap-cms .home-categories.home-blog .more-cont.main .button-b:hover {
    background: #f59d0f;
    border-color: #f59d0f;
}

@media (max-width: 1100px) {
    .home .main-wrap-cms .home-categories.home-blog .box .img {
        height: 180px;
    }
}

@media (max-width: 970px) {
    .home .main-wrap-cms .home-categories.home-blog .box .img {
        height: 160px;
    }
}
@media (max-width: 850px) {
    .home .main-wrap-cms .home-categories.home-blog .row2 {
        max-width: 400px;
    }
    .home .main-wrap-cms .home-categories.home-blog .medium-4 {
        width: 100%;
        height: auto !important;
    }
    .home .main-wrap-cms .home-categories.home-blog .box .img {
        height: 220px;
    }
}
@media (max-width: 420px) {
    .home .main-wrap-cms .home-categories.home-blog .row2 {
        max-width: 290px;
    }
    .home .main-wrap-cms .home-categories.home-blog .box .img {
        height: 165px;
    }
}


/************ blog.php ***************/

.page-template-blog .pagination {
    float: none;
    text-align: center;
}
.page-template-blog .main-wrap-cms .home-categories.home-blog {
    padding: 50px 0;
}

.page-template-blog .main-wrap-cms .home-categories.home-blog .title a {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 15px;
    color: #858585;
    transition: all 0.3s;
}

.page-template-blog .main-wrap-cms .home-categories.home-blog .box {
    box-shadow: 0px 0px 19px 2px #f3f3f3;
    background: #fff;
    padding: 15px 15px 85px;
    height: 100%;
    position: relative;
    transition: all 0.3s;
}

.page-template-blog .main-wrap-cms .home-categories.home-blog .box .box-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-template-blog .main-wrap-cms .home-categories.home-blog .box:hover {
    box-shadow: 0px 0px 19px 2px #dcd9d9;
}
.page-template-blog .main-wrap-cms .home-categories.home-blog .box:hover .title a {
    color: #95c121;
}

.page-template-blog .main-wrap-cms .home-categories.home-blog .box:hover .button-b {
    background: #95c121;
    color: #fefefe;
}

.page-template-blog .main-wrap-cms .home-categories.home-blog .box .more-cont {
    margin: 20px 0 0;
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
    text-align: center;
}
.page-template-blog .main-wrap-cms .home-categories.home-blog .box .more-cont .button-b {
    padding: 10px 30px;
}

.page-template-blog .main-wrap-cms .home-categories.home-blog .medium-4 {
    margin-bottom: 30px;    
}   

.page-template-blog .main-wrap-cms .home-categories.home-blog .excerpt p {
    margin-bottom: 0;
}

.page-template-blog .main-wrap-cms .home-categories.home-blog .box .title {
    margin-bottom: 15px;
}

.page-template-blog .main-wrap-cms .home-categories.home-blog .box .img {
    height: 220px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-bottom: 20px;
}

.page-template-blog .main-wrap-cms .home-categories.home-blog .more-cont.main .button-b {
    font-size: 14px;
    letter-spacing: 1.2px;
    padding: 13px 53px;
    text-align: center;
    font-weight: 700;
    background: #95c121;
    color: #fff;
    border: 2px solid #95c121;
    height: auto;
}
.page-template-blog .main-wrap-cms .home-categories.home-blog .more-cont.main .button-b:hover {
    background: #f59d0f;
    border-color: #f59d0f;
}

@media (max-width: 1100px) {
    .page-template-blog .main-wrap-cms .home-categories.home-blog .box .img {
        height: 180px;
    }
}

@media (max-width: 970px) {
    .page-template-blog .main-wrap-cms .home-categories.home-blog .box .img {
        height: 160px;
    }
}
@media (max-width: 850px) {
    .page-template-blog .main-wrap-cms .home-categories.home-blog .blog-cont {
        max-width: 400px;
        margin: 0 auto;
    }
    .page-template-blog .main-wrap-cms .home-categories.home-blog .medium-4 {
        width: 100%;
        height: auto !important;
    }
    .page-template-blog .main-wrap-cms .home-categories.home-blog .box .img {
        height: 220px;
    }
}
@media (max-width: 420px) {
    .page-template-blog .main-wrap-cms .home-categories.home-blog .blog-cont {
        max-width: 290px;
    }
    .page-template-blog .main-wrap-cms .home-categories.home-blog .box .img {
        height: 165px;
    }
}


/****************** single.php *************/


.single-blog-post {
    padding: 60px 0;
}
.single-blog-post .row {
    max-width: 900px;
}
.single-blog-post ul li {
    position: relative;
    list-style: none;
    padding-left: 1.875rem;
    display: flex;
}
.single-blog-post ul li:after {
    transform: rotate(45deg) translateY(-50%);
    left: 0;
    top: 50%;
    position: absolute;
    display: block;
    content: '';
    width: 11px;
    height: 11px;
    transition: .3s;
    border: 2px solid #95c121;
}
@media (max-width: 639px) {
    .single-blog-post .alignleft {
        float: none;
        display: block;
    }
}

.home .main-wrap-cms .home-newsletter .freshmail-cont .form_subscribe .checkbox-parent input[type="checkbox"] {
    top: auto;
}