.clearfix {
  clear: both; }

.row-big {
  max-width: 1630px;
  margin: 0 auto; }

.lang-header {
  display: none;
  height: 40px;
  background: #f9fafa;
  border-bottom: 1px solid #eeeeee; }

.logo-header {
  padding: 12px 0; }
  .logo-header img.logo-img {
    width: 200px; }
  .logo-header .small-menu {
    margin-top: 7px; }
    .logo-header .small-menu > a {
      display: inline-block;
      position: relative;
      margin-left: 30px; }
      .logo-header .small-menu > a.shiping span {
        background: #95c121;
        width: 1.3125rem;
        height: 1.3125rem;
        line-height: 1.3125rem;
        text-align: center;
        color: #fff;
        display: block;
        position: absolute;
        border-radius: 50%;
        top: -31%;
        left: -37%;
        font-size: 12px;
        font-weight: 700; }

.menu-header {
  background: #2e2e2e; }
  .menu-header .columns {
    position: relative; }
  .menu-header #menu-header-menu li, .menu-header #menu-header-menu-1 li, .menu-header #menu-new-header-menu-1 li {
    position: relative;
    display: inline-block; }
    .menu-header #menu-header-menu li a, .menu-header #menu-header-menu-1 li a, .menu-header #menu-new-header-menu-1 li a {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      line-height: 60px;
      line-height: 38px;
      display: inline-block;
      padding: 3px 25px; }
      .menu-header #menu-header-menu li a:hover, .menu-header #menu-header-menu-1 li a:hover, .menu-header #menu-new-header-menu-1 li a:hover {
        background: #94bf21;
        color: #fff; }
    .menu-header #menu-header-menu li.active a, .menu-header #menu-header-menu-1 li.active a, .menu-header #menu-new-header-menu-1 li.active a {
      background: #94bf21;
      color: #fff; }
    .menu-header #menu-header-menu li > .sub-menu, .menu-header #menu-header-menu-1 li > .sub-menu, .menu-header #menu-new-header-menu-1 li > .sub-menu {
      overflow: hidden;
      -webkit-box-shadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.3);
      display: none;
      border-top: 3px solid #94c021;
      position: absolute;
      z-index: 9999;
      width: 300px;
      background: #fff;
      margin: 0; }
      .menu-header #menu-header-menu li > .sub-menu li, .menu-header #menu-header-menu-1 li > .sub-menu li, .menu-header #menu-new-header-menu-1 li > .sub-menu li {
        display: block; }
        .menu-header #menu-header-menu li > .sub-menu li a, .menu-header #menu-header-menu-1 li > .sub-menu li a, .menu-header #menu-new-header-menu-1 li > .sub-menu li a {
          background: #fff;
          font-size: 14px;
          color: #000;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          border-left: 3px solid transparent;
          display: block;
          padding: 1px 25px;
          line-height: 32px; }
          .menu-header #menu-header-menu li > .sub-menu li a:hover, .menu-header #menu-header-menu-1 li > .sub-menu li a:hover, .menu-header #menu-new-header-menu-1 li > .sub-menu li a:hover {
            color: #fff;
            background: #94c021;
            padding-left: 50px; }
            .menu-header #menu-header-menu li > .sub-menu li a:hover:before, .menu-header #menu-header-menu-1 li > .sub-menu li a:hover:before, .menu-header #menu-new-header-menu-1 li > .sub-menu li a:hover:before {
              opacity: 1;
              left: 25px; }
          .menu-header #menu-header-menu li > .sub-menu li a:before, .menu-header #menu-header-menu-1 li > .sub-menu li a:before, .menu-header #menu-new-header-menu-1 li > .sub-menu li a:before {
            display: block;
            opacity: 0;
            -webkit-transform: rotate(45deg) translateY(-50%);
            -ms-transform: rotate(45deg) translateY(-50%);
            transform: rotate(45deg) translateY(-50%);
            left: 0;
            top: 48%;
            position: absolute;
            content: '';
            width: 11px;
            height: 11px;
            border: 2px solid #fff;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s; }
        .menu-header #menu-header-menu li > .sub-menu li.menu-break a, .menu-header #menu-header-menu-1 li > .sub-menu li.menu-break a, .menu-header #menu-new-header-menu-1 li > .sub-menu li.menu-break a {
          text-indent: 99999px;
          cursor: initial; }
          .menu-header #menu-header-menu li > .sub-menu li.menu-break a:hover, .menu-header #menu-header-menu-1 li > .sub-menu li.menu-break a:hover, .menu-header #menu-new-header-menu-1 li > .sub-menu li.menu-break a:hover {
            background: #fff; }
        .menu-header #menu-header-menu li > .sub-menu li.active > a, .menu-header #menu-header-menu-1 li > .sub-menu li.active > a, .menu-header #menu-new-header-menu-1 li > .sub-menu li.active > a {
          color: #fff;
          background: #94c021;
          padding-left: 50px; }
          .menu-header #menu-header-menu li > .sub-menu li.active > a:before, .menu-header #menu-header-menu-1 li > .sub-menu li.active > a:before, .menu-header #menu-new-header-menu-1 li > .sub-menu li.active > a:before {
            opacity: 1;
            left: 25px; }
    .menu-header #menu-header-menu li:hover > .sub-menu, .menu-header #menu-header-menu-1 li:hover > .sub-menu, .menu-header #menu-new-header-menu-1 li:hover > .sub-menu {
      display: block; }
  .menu-header .facebook-icon {
    position: absolute;
    right: 15px;
    top: 46%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.icons-header .single-icon {
  border-right: 1px solid #eeeeee;
  padding: 0 28px 0 28px;
  font-size: 14px;
  line-height: 40px;
  color: #858585;
  display: inline-block; }
  .icons-header .single-icon img {
    display: inline-block;
    margin-right: 10px; }
  .icons-header .single-icon:last-of-type {
    border: none; }

.home .main_contactform {
  margin: 2.6875rem 0 3.1875rem 0; }

.home .top-bar .slick-slider .button-b {
  letter-spacing: 1.2px;
  padding: 13px 29px;
  margin-right: 6px; }

.home .top-bar .slick-slider .slick-slide__content {
  height: 500px; }

.home .top-bar {
  height: 500px; }

.home header .top-bar .slick-slider .slick-dots {
  display: none !important; }

.home .main-wrap-cms {
  padding: 0; }
  .home .main-wrap-cms .about-us-cont {
    background: #fcfcfc;
    padding: 70px 0 40px 0; }
    .home .main-wrap-cms .about-us-cont .row-big {
      max-width: 920px; }
      .home .main-wrap-cms .about-us-cont .row-big .content p {
        color: #858585;
        font-size: 18px;
        line-height: 31px;
        margin-bottom: 32px; }
  .home .main-wrap-cms .home-categories {
    border-bottom: 2px solid #f8f8f8;
    padding: 50px 0 5px 0; }
    .home .main-wrap-cms .home-categories .home-text-cat {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 24px;
      color: #000;
      text-align: center;
      padding: 10px 0 60px; }
    .home .main-wrap-cms .home-categories .page-template-home__products__list .columns {
      margin-bottom: 55px; }
    .home .main-wrap-cms .home-categories .home-cat-box {
      background: #fcfcfc;
      height: 100%;
      -webkit-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all;
      padding: 32px 30px;
      position: relative; }
      .home .main-wrap-cms .home-categories .home-cat-box__url {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      .home .main-wrap-cms .home-categories .home-cat-box__icon {
        width: 50px;
        height: 50px;
        position: absolute;
        top: -24px;
        right: 10px; }
        .home .main-wrap-cms .home-categories .home-cat-box__icon img {
          position: absolute;
          top: 60%;
          left: 60%;
          -webkit-transform: translateX(-50%) translateY(-50%);
          -moz-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
          -o-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
          z-index: 2;
          max-width: 80%;
          max-height: 80%; }
        .home .main-wrap-cms .home-categories .home-cat-box__icon:after {
          width: 60px;
          height: 60px;
          content: '';
          display: block;
          position: absolute;
          left: 0%;
          border: 2px solid #95c121;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          z-index: 1;
          border-radius: 100%;}
      .home .main-wrap-cms .home-categories .home-cat-box__title {
        font-weight: 900;
        color: #95c121;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 32px; }
      .home .main-wrap-cms .home-categories .home-cat-box__img {
        display: block;
min-height: 370px;
min-width: 370px;
margin-top: -50px;
margin-left: -30px;}
      .home .main-wrap-cms .home-categories .home-cat-box:hover {
        -webkit-box-shadow: 0px 0px 19px 2px #f3f3f3;
        box-shadow: 0px 0px 19px 2px #f3f3f3;
        background: #fff; }
        .home .main-wrap-cms .home-categories .home-cat-box:hover .home-cat-box__icon:after {
          background: #FFF; }
    .home .main-wrap-cms .home-categories.home-sale {
      border-bottom: none; }
  .home .main-wrap-cms .more-cont {
    text-align: center;
    margin: 20px 0; }
  .home .main-wrap-cms .home-best {
    padding: 50px 0 30px 0; }
    .home .main-wrap-cms .home-best .medium-2 {
      min-height: 330px; }
    .home .main-wrap-cms .home-best .home-text-cat {
      padding: 10px 0 35px; }
    .home .main-wrap-cms .home-best .button-b {
      font-size: 14px;
      letter-spacing: 1.2px;
      padding: 13px 53px;
      text-align: center;
      font-weight: 700;
      background: #95c121;
      color: #fff;
      border: 2px solid #95c121;
      height: auto; }
      .home .main-wrap-cms .home-best .button-b:hover {
        background: #f59d0f;
        border-color: #f59d0f; }
    .home .main-wrap-cms .home-best .single--product__title {
      font-weight: 300;
      font-size: 15px;
      color: #000;
      margin-top: 13px;
      margin-bottom: 7px;
      line-height: 19px; }
    .home .main-wrap-cms .home-best .single--product__img {
      background: #fcfcfc; }
      .home .main-wrap-cms .home-best .single--product__img__image {
        padding: 10px; }
    .home .main-wrap-cms .home-best .single--product__prices__regular {
      font-weight: 700;
      font-size: 18px;
      color: #95c121; }
      .home .main-wrap-cms .home-best .single--product__prices__regular del {
        color: #858585;
        font-size: 16px;
        font-weight: 400; }
      .home .main-wrap-cms .home-best .single--product__prices__regular ins {
        text-decoration: none; }
  .home .main-wrap-cms .home-newsletter {
    padding: 60px 0 10px;
    background: #fcfcfc; }
    .home .main-wrap-cms .home-newsletter .row-small {
      text-align: center;
      max-width: 800px;
      margin: 0 auto; }
    .home .main-wrap-cms .home-newsletter__title1 {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 20px;
      color: #95c121; }
    .home .main-wrap-cms .home-newsletter__title2 {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 36px;
      color: #000;
      line-height: 41px;
      margin-bottom: 24px; }
    .home .main-wrap-cms .home-newsletter__desc {
      font-size: 22px;
      line-height: 32px; }
    .home .main-wrap-cms .home-newsletter .main_contactform label {
      font-weight: 700;
      font-size: 14px;
      text-align: left; }
      .home .main-wrap-cms .home-newsletter .main_contactform label span {
        font-size: 18px;
        color: #95c121 !important; }
    .home .main-wrap-cms .home-newsletter .main_contactform .wpcf7-text, .home .main-wrap-cms .home-newsletter .main_contactform .wpcf7-email {
      font-weight: 400;
      padding: 15px 17px;
      height: auto; }
    .home .main-wrap-cms .home-newsletter .main_contactform .wpcf7-submit {
      margin-top: 33px;
      width: 100%;
      height: auto;
      line-height: 16px;
      padding: 15px 18px;
      background: #95c121;
      font-weight: 700;
      font-size: 14px;
      color: #fff; }
      .home .main-wrap-cms .home-newsletter .main_contactform .wpcf7-submit:hover {
        background: #f59d0f;
        border-color: #f59d0f; }
    .home .main-wrap-cms .home-newsletter .freshmail-cont > div > div {
      background: transparent !important; }
    .home .main-wrap-cms .home-newsletter .freshmail-cont .form_subscribe .input-parent {
      position: relative; }
      .home .main-wrap-cms .home-newsletter .freshmail-cont .form_subscribe .input-parent:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2px solid #f2f2f2;
        left: -9px;
        bottom: -9px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
    .home .main-wrap-cms .home-newsletter .freshmail-cont .form_subscribe .checkbox-parent {
      margin-top: 30px !important;
      position: relative; }
      .home .main-wrap-cms .home-newsletter .freshmail-cont .form_subscribe .checkbox-parent input[type="checkbox"] {
        position: absolute;
        top: 7px; }
      .home .main-wrap-cms .home-newsletter .freshmail-cont .form_subscribe .checkbox-parent span {
        cursor: pointer;
        display: inline-block;
        padding-left: 35px;
        position: relative; }
        .home .main-wrap-cms .home-newsletter .freshmail-cont .form_subscribe .checkbox-parent span:before {
          display: inline-block;
          width: 24px;
          height: 24px;
          border: 2px solid #f2f2f2;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          position: relative;
          z-index: 1;
          background: #fefefe;
          margin-bottom: -0.375rem;
          margin-right: 0.3125rem;
          content: '';
          position: absolute;
          left: 0;
          background-repeat: no-repeat;
          background-position: 6px 5px; }
        .home .main-wrap-cms .home-newsletter .freshmail-cont .form_subscribe .checkbox-parent span:after {
          position: absolute;
          content: '';
          display: block;
          width: 24px;
          height: 24px;
          border: 2px solid #f2f2f2;
          opacity: 0.5;
          left: -5px;
          top: 5px;
          z-index: 0;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
      .home .main-wrap-cms .home-newsletter .freshmail-cont .form_subscribe .checkbox-parent.is-active span:before {
        background-image: url(../images/tick.png);
        border-color: #95c121; }
      .home .main-wrap-cms .home-newsletter .freshmail-cont .form_subscribe .checkbox-parent.is-active span:after {
        border-color: #95c121; }
    .home .main-wrap-cms .home-newsletter .freshmail-cont .label {
      background: transparent; }
    .home .main-wrap-cms .home-newsletter .freshmail-cont [type='text'], .home .main-wrap-cms .home-newsletter .freshmail-cont [type='email'] {
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 15px 17px !important;
      background: #fefefe;
      z-index: 1;
      position: relative;
      text-transform: uppercase; }
      .home .main-wrap-cms .home-newsletter .freshmail-cont [type='text']:focus, .home .main-wrap-cms .home-newsletter .freshmail-cont [type='email']:focus {
        border: 2px solid #f59d0f !important; }
    .home .main-wrap-cms .home-newsletter .freshmail-cont [type="submit"] {
      text-transform: uppercase;
      font-weight: 700;
      width: 226px !important;
      float: right; }
    .home .main-wrap-cms .home-newsletter .freshmail-cont .message_error {
      display: block;
      border: 2px solid #e74c3c;
      padding: 10px;
      margin-bottom: 10px; }
    .home .main-wrap-cms .home-newsletter .freshmail-cont .message_success {
      display: block;
      border: 2px solid #8eb81f;
      padding: 10px;
      margin-bottom: 10px; }

.footer {
  padding-top: 4rem; }
  .footer .footer__main__menu li a {
    font-size: 18px;
    line-height: 40px; }
  .footer .menu > li {
    display: block; }
  .footer .menu > li > a {
    padding-top: 0;
    padding-bottom: 0; }
  .footer .widgettitle, .footer .footer--title {
    color: #95c121;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 32px;
    line-height: 2rem;
    font-weight: 900;
    margin-bottom: 13px;
    margin-top: 0.625rem; }
  .footer .delivery-li {
    margin: 23px 0 41px 0; }
    .footer .delivery-li li {
      background: #fff;
      height: 60px;
      width: 60px;
      margin-bottom: 2px;
      position: relative;
      display: inline-block;
      vertical-align: top; }
      .footer .delivery-li li img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 80%; }
  .footer .footer__bottom-info {
    font-size: 16px;
    margin: 0; }
  .footer .menu .active > a {
    background: transparent;
    color: #f59d0f; }
    .footer .menu .active > a:before {
      left: 6px;
      border: 2px solid #f59d0f;
      opacity: .5; }
    .footer .menu .active > a:after {
      border-color: #f59d0f; }
  .footer #scrollToTop {
	  position: absolute;
    z-index: 9;
    background: transparent;
    border: 3px solid #95c121;
    width: 155px;
    height: 106px;
    border-radius: 45%;
    color: #fefefe;
    cursor: pointer;
    bottom: -53px;
    left: 50%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .footer #scrollToTop i {
      width: 13px;
      height: 30px;
      top: 30%;
      background-image: url(../images/combined.png);
      background-position: -70px 2px; }
      .footer #scrollToTop i:before {
        display: none; }
    .footer #scrollToTop:hover {
      border-color: #f59d0f; }

.single-product__top__fav_com {
  display: none; }

.single-product__top .variations_form p {
  font-size: 16px; }

.single-product__medium .content-wrap h3 {
  font-size: 20px;
  line-height: 25px; }

.single-product__medium .content-wrap p {
  font-size: 16px; }

.single-product__medium .content-wrap ul li {
  font-size: 16px; }

.single-product__medium .returns_tab, .single-product__medium .shipping_tab {
  display: none !important; }

.single-product__medium .product_certificates_rep_cont {
  margin-bottom: 10px; }
  .single-product__medium .product_certificates_rep_cont .button-b-cer {
    font-size: 16px;
    color: #858585; }
  .single-product__medium .product_certificates_rep_cont .button-b {
    margin-left: 10px;
    padding: 10px 15px; }

.breadcrumbs-cont {
  background: #f5f5f5;
  padding: 10px 15px; }
  .breadcrumbs-cont .top-bar__bread-title__breadcrumbs {
    padding: 0 20px;
    color: #858585; }
    .breadcrumbs-cont .top-bar__bread-title__breadcrumbs a, .breadcrumbs-cont .top-bar__bread-title__breadcrumbs span, .breadcrumbs-cont .top-bar__bread-title__breadcrumbs a span {
      color: #858585;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400; }

.woocommerce-product-search {
  margin-top: -40px; }

.single-product .woocommerce-tabs {
  padding-top: 2rem; }

.reveal.full {
  padding: 0; }

body:not(.home):not(.error404) #top-bar-menu {
  display: none; }

.black-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); }

.single-product__top__right .woocommerce-product-details__short-description p {
  font-size: 16px; }

.single-product__top__right .product_title {
  padding-right: 90px; }

.page-template-b2b__left__subtitle {
  font-size: 1.3625rem; }

.page-template-b2b__left__title {
  font-size: 2.125rem; }

.single--product__img {
  max-height: 310px; }
  .single--product__img .img-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9; }

.single--product__img__image {
  max-height: 250px; }

.edu-suggest {
  line-height: 2.75rem;
  letter-spacing: 1px;
  font-size: 20px; }
  .edu-suggest span {
    letter-spacing: 1px;
    font-size: 36px;
    line-height: 41px; }

.single--product__img__compare,
.single--product__img__add_to_favorities {
  display: none; }

.single--product__title {
  font-weight: 300;
  font-size: 15px;
  color: #000;
  margin-top: 13px;
  margin-bottom: 7px;
  line-height: 19px; }

.single--product__prices__regular {
  font-weight: 700;
  font-size: 18px;
  color: #95c121; }
  .single--product__prices__regular del {
    color: #858585;
    font-size: 16px;
    font-weight: 400; }
  .single--product__prices__regular ins {
    text-decoration: none; }

.cart_totals h2,
.cart_totals h3,
.woocommerce-order h2,
.woocommerce-order h3,
.woocommerce-customer-details h2,
.woocommerce-customer-details h3,
.woocommerce-order-details h2,
.woocommerce-order-details h3 {
  font-size: 1.4rem; }

.product-list-page__filters__filtr__input:before {
  background: url(../images/tick.png); }

.pagination .page-numbers.next:before, .pagination .page-numbers.prev:before {
  background-image: url(../images/arrow-left.png); }

.pagination .page-numbers.next:hover:before, .pagination .page-numbers.prev:hover:before {
  background-image: url(../images/arrow-left2.png); }

.page-template-contact .main_paragraph {
  font-size: 16px; }
  .page-template-contact .main_paragraph center {
    text-align: left; }
    .page-template-contact .main_paragraph center > span {
      font-size: 20px !important; }

.main_paragraph {
  font-size: 16px;
  line-height: 27px; }

p {
  font-size: 16px; }

.accordion .accordion-item .accordion-title {
  font-size: 16px; }

.accordion .accordion-item .accordion-content {
  font-size: 16px;
  line-height: 26px; }

h2 {
  font-size: 22px; }

.main-wrap-cms {
  padding: 4rem 0 3rem 0; }

.single-product__top__back {
  margin-top: 2.0625rem; }

.single-product__top .large-5 .onsale {
  display: none; }

.price-product del {
  font-size: 16px; }

.price-product > .woocommerce-Price-amount, .price-product ins {
  color: #95c121;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  display: block;
  margin-bottom: 10px; }

@media (max-width: 1365px) {
  .product-list-page .single--product {
    width: 33.333333%; }
  .top-bar .slick-slider .slick-slide__content__wrap__title {
    line-height: 2.2rem;
    margin-bottom: 13px; }
  .top-bar .slick-slider .slick-slide__content__wrap__subtitle {
    font-size: 2.125rem;
    line-height: 2.75rem;
    margin-top: -2px; }
  .footer .fot1 {
    width: 30%; }
  .footer .fot2 {
    width: 30%; }
  .footer .fot3 {
    width: 40%; } }

@media (max-width: 1199px) {
  .home .main-wrap-cms .home-categories .page-template-home__products__list {
    margin: 0 auto;
    max-width: 800px; }
    .home .main-wrap-cms .home-categories .page-template-home__products__list .medium-4 {
      width: 50%; }
  .home .best-sellers-home {
    max-width: 810px;
    margin: 0 auto; }
    .home .best-sellers-home .home-products-col {
      width: 33.333333%;
      margin-bottom: 20px; } }

@media (max-width: 1050px) {
  .footer .fot1 {
    width: 27%; }
  .footer .fot3 {
    width: 43%; } }

@media (max-width: 1023px) {
  .home .main-wrap-cms .home-newsletter .main_contactform .wpcf7-submit {
    line-height: 12px;
    margin-top: 25px; }
  .footer .fot1, .footer .fot2 {
    width: 50%; }
  .footer .fot3 {
    width: 100%;
    text-align: left; }
  .footer .footer-delivery {
    margin-top: 50px; }
  .footer .footer__bottom-info {
    text-align: center; }
  .footer .margin-top-70 {
    margin-top: 40px;
    margin-bottom: 60px; } }

@media (max-width: 991px) {
  .icons-header .single-icon {
    padding: 0 10px; }
  .menu-header #menu-header-menu li a {
    padding: 11px 15px; }
  .menu-header #menu-header-menu li > .sub-menu {
    width: 230px; } }

@media (max-width: 880px) {
  .icons-header .single-icon {
    padding: 0 28px;
    width: 49%;
    border: none; } }

.mobile-burger, .top-bar-mobile {
  display: none; }

@media (max-width: 767px) {
  .top-bar.top-bar-mobile {
    height: auto;
    display: block; }
    .top-bar.top-bar-mobile .menu-menu__menu h4 {
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 33px;
      line-height: 2.0625rem;
      color: #95c121;
      font-weight: 900;
      text-transform: uppercase;
      margin: 22px 0 3px 52px; }
    .top-bar.top-bar-mobile .menu-menu__menu ul {
      list-style: none;
      margin: 0px;
      background: transparent; }
      .top-bar.top-bar-mobile .menu-menu__menu ul li {
        display: block; }
        .top-bar.top-bar-mobile .menu-menu__menu ul li a {
          display: block;
          line-height: 2.8125rem;
          padding: 0 0 0 30px; }
    .top-bar.top-bar-mobile .menu-menu__menu .menu-header-menu-container {
      display: block; }
    .top-bar.top-bar-mobile .menu-menu__menu li.current_page_item a {
      background: transparent; }
  .home .best-sellers-home {
    max-width: 540px; }
    .home .best-sellers-home .home-products-col {
      width: 50%; }
  .menu-header-menu-container {
    display: none; }
  .menu-header {
    padding: 10px 0; }
  .mobile-burger {
    display: inline-block;
    margin-left: 10px;
    margin-top: 4px;
    width: 26px;
    cursor: pointer; }
    .mobile-burger span {
      display: block;
      height: 2px;
      width: 22px;
      background: #fefefe;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .mobile-burger span.burger__line1 {
        margin-bottom: 5px; }
      .mobile-burger span.burger__line2 {
        width: 26px !important;
        margin-bottom: 5px; }
  .product-list-page .single--product {
    width: 50%; } }

@media (max-width: 639px) {
  .icons-header {
    padding: 10px 0; }
    .icons-header .single-icon {
      padding: 0 20px;
      width: 100%; }
  .home .main-wrap-cms .home-categories .page-template-home__products__list {
    max-width: 400px; }
    .home .main-wrap-cms .home-categories .page-template-home__products__list .medium-4 {
      width: 100%; }
  .home .main-wrap-cms .about-us-cont {
    padding: 57px 0 20px 0; }
  .home .main-wrap-cms .home-best {
    padding: 60px 0 45px 0; }
  .home .main-wrap-cms .home-newsletter {
    padding: 55px 0 35px; }
    .home .main-wrap-cms .home-newsletter .main_contactform .wpcf7-submit {
      width: auto; }
  .footer .fot1, .footer .fot2 {
    width: 100%;
    text-align: left; }
  .footer .fot2 {
    margin-top: 20px; }
  .footer .footer-delivery {
    margin-top: 35px; } }

@media (max-width: 550px) {
  .home .best-sellers-home {
    max-width: 270px; }
    .home .best-sellers-home .home-products-col {
      width: 100%;
      margin-bottom: 30px; }
  .home .main-wrap-cms .home-best .medium-2 {
    min-height: 1px; }
  .product-list-page .single--product {
    width: 100%; } }

@media (max-width: 430px) {
  .logo-header img.logo-img {
    width: 155px; }
  .logo-header .small-menu {
    margin-top: 3px; }
    .logo-header .small-menu > a {
      margin-left: 17px; } }

@media (max-width: 399px) {
  .home .top-bar .slick-slider .slick-slide__content__wrap__subtitle {
    font-size: 2.125rem;
    line-height: 2.75rem;
    margin-top: -9px; }
  .home .top-bar .slick-slider .button-b {
    padding: 13px 16px; } }
