.about-list{
    margin-top: rem-calc(65);
    &__main{
        list-style: none;
        margin: 0;
        &__li{
            min-height: 8.25rem;
            margin-bottom: rem-calc(15);
            @media (max-width:640px){
                text-align: center;
            }
        }
        &__img{
            @media (min-width:640px){
                float: left;
                width: 85px;
            }
        }
        &__wrap{
            @media (min-width:640px){
                max-width: 350px;
            }
            float: left;
            
            &__title{
                @include font-size(16px);
                @include line-height(32px);
                text-transform: uppercase;
                color: $greenLight;
                margin: 5px 0 0 0;
            }

            &__content{
                @include font-size(16px);
                @include line-height(24px);
            }
        }
    }
}