.slick-initialized .slick-slide{
    margin: rem-calc(0 15);
}
.page-template-b2b{
    &__bottom{
        border-bottom: 2px solid #f8f8f8;
        padding-bottom: rem-calc(60);
        margin-bottom: rem-calc(120);
    }
    &__delivery{
        &__list{
            list-style: none;
            float: right;
            //margin-top: rem-calc(60);
            margin-bottom: rem-calc(90);
            margin-left: 0;
            li{
                display: inline-block;
                padding: rem-calc(80 40);
                border-right:2px solid #f8f8f8;
                @media (max-width:710px){
                    width: 100%;
                    text-align: center;
                    border: none;
                }
                &:last-of-type{
                    border: none;
                }
            }
        }
    }
    &__left{
        &__subtitle{
            @include font-size(25px);
            @include line-height(60px);
            font-weight: 900;
            text-transform: uppercase;
            color: $greenLight;
        }
        &__title{
            @include font-size(50px);
            @include line-height(60px);
            font-weight: 300;
            text-transform: uppercase;
            color: $black;
            margin-top: rem-calc(-25);
            margin-bottom:rem-calc(25);
        }
        &__url{

        }
    }
    &__new{
        .single--product__img__bar__promo{
            display: none;
        }
    }
    &__promo{
        .single--product__img__bar__new{
            display: none;
        }
    }
}

.slick--custom{
    .slick-list{
        margin-bottom: rem-calc(130);
    }
    .slick-dots{
        bottom: rem-calc(-75);
        li{
            &.slick-active{
                button{
                    width: 12px;
                    height: 12px;
                    &:before{
                        top: 2px;
                        left: -6px;                        
                        opacity: 1;
                    }
                }
            }
            button{
                width: 8px;
                height: 8px;
                border: 2px solid rgba(149,193,33,0.5);
                transform: rotate(45deg);
                position: relative;
                &:before{
                    content:'';
                    display: block;
                    width: 14px;
                    height: 14px;
                    border: 2px solid $greenLight;
                    position: absolute;
                    top:-3px;
                    left: -3px;
                    transition: .3s;
                    opacity: 0;
                }
                @include hover(){ 
                    &:before{
                        top: 2px;
                        left: -6px;                        
                        opacity: 1;
                    }
                }
            }
        }
    }
}