.brand-list{
    @media (min-width:1024px){
        margin-top: rem-calc(80);
    }
    &__single{
        @media (min-width:1024px){
            display: flex;
            align-items:stretch;
        }
        border-bottom: 1px solid #f8f8f8;
        padding: rem-calc(45 0);
        
        &:last-of-type{
            border-bottom: 0px;
        }
        &__img{
            position: relative;
            @media (max-width:1024px){
                height: 10.625rem; 
            }
            img{
                position: absolute;
                top:50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
        &__wrap{
            @media (min-width:1024px){
                padding: rem-calc(0 70 0 35);
            }
            &__title{
                color: $greenLight;
                @include font-size(18px);
                @include line-height(32px);
                font-weight: 900;
                text-transform: uppercase;
                margin-bottom: rem-calc(15);
            }
            &__content{
                @include font-size(18px);
                @include line-height(26px);
                p{
                    margin-bottom: rem-calc(20);
                }
            }
            &__url{
                margin-top: rem-calc(4);
                @include font-size(18px);
                @include line-height(26px);
                color: $greenLight;
                text-decoration: underline;
                transition: .3s;
                @include hover(){
                    color: $font-color;
                }
            }
        }
    }
}