.edu-suggest{
    margin-top: rem-calc(-20);
    font-weight: 900;
    @include font-size(25px);
    @include line-height(60px);
    text-transform: uppercase;
    color: $greenLight;
    letter-spacing: 2px;
    span{
        font-weight: 300;
        @include font-size(50px);
        color: $black;
        letter-spacing: 3px;
    }
}

.accordion{
    @media (max-width:1024px){
        margin-top: rem-calc(30);
    }
    background: transparent;
    .accordion-item{
        margin-bottom: rem-calc(50);
        background: #fcfcfc;
        position: relative;
        &:not(.is-active){
             &:after{
                top:20px;
                left: -20px;
                width: 100%;
                height: 100%;
                content: '';
                border: 4px solid #f8f8f8;
                position: absolute;
                transition: .3s;
                @media (max-width:1024px){
                    top:10px;
                    left: -10px;
                }
            }
        }
        .accordion-cross{
            position: absolute;
            width: 28px;
            height: 19px;
            transition: .3s;
            top:35px;
            right: 35px;
            @media (max-width:640px){
                top:15px;
                right: 15px;
            }
            span{
                background: #bbbbbb;
                height: 2px;
                width: 22px;
                display: block;
                transform-origin: left center;
                transition: .3s;
            }
            .nt1{
                margin-bottom: 6px;
            }
            .nt2{
                margin-bottom: 6px;
                width: 28px;
            }
            .nt3{
                
            }
        }
        &.is-active{
            &:after{
                width: 100%;
                height: 100%;
                content: '';
                border: 4px solid #f8f8f8;
                position: absolute;
                top:0px;
                left: 0px;
                z-index: 1;
                transition: .3s;
            }
            .accordion-cross{
                .nt1{
                    transform: rotate(45deg);
                }
                .nt2{
                    width: 0px;
                }
                .nt3{
                    transform: rotate(-45deg);
                }
            }
        }
        
        .accordion-title{
            padding: 30px 130px 30px 55px;
            @media (max-width:640px){
                padding: 10px 30px 10px 15px;
            }
            border: none;
            font-weight: 900;
            @include font-size(22px);
            @include line-height(32px);
            color: $font-color;
            text-transform: uppercase;
            transition: .3s;
            position: relative;
            z-index: 2;
            background: #fcfcfc;
            &::before{
                display: none;
            }
            &.active,&:focus{
                color: $greenLight;
                background: #fcfcfc;
            }
            @include hover(){
                color: $greenLight;
                background: #fcfcfc;
            }
            
        }
        .accordion-content{
            border: none;
            background: #fcfcfc;
            z-index: 2;
            position: relative;
            @include font-size(22px);
            @include line-height(32px);
            color: $font-color;
            padding: 0px 130px 30px 55px;
            margin-top: -20px;
            @media (max-width:640px){
                padding: 0px 30px 10px 15px;
                margin-top: 0px;
            }
        }
    }
}