.page-template-home{
    &__contact{
        .page-template-home__left{
            margin-bottom: rem-calc(10);
        }
        background: #fcfcfc;
        padding: 6.875rem 0.9375rem; 
        @media (max-width:640px){
            padding: 3.5rem 0.9375rem;
        }
        margin-bottom: 5rem;
        &__contact_form{
            .main_contactform{
                margin: 0;
            }
        } 
    }
    &__products{
        padding: 7.5rem 0.9375rem 0 0.9375rem;
        @media (max-width:640px){
            padding: 3.5rem 0.9375rem 0 0.9375rem;
        }
        &__list{
            @media (max-width:1024px){
                margin-top: rem-calc(60);
            }
            @media (max-width:640px){
                .page-template-home__products__list__single{
                    &__col1,&__col2{
                        width: 100%;
                        float: left;
                        @media (max-width:640px){
                            img{
                                max-width: 50%;
                            }
                            
                        }
                    }
                    &__col1{
                        &__icon{
                            left: 50% !important;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
            &__single{
                background: #fcfcfc;
                display: inline-block;
                width: 100%;
                margin-bottom: 100px;
                position: relative;
                transition: .3s;
                @include hover(){
                    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
                    background: $white;
                    &:after{
                        bottom:0;
                        left: 0;
                    }
                    .page-template-home__products__list__single__col1{
                        border-color: #f8f8f8;
                        &__icon{
                            &:after{
                                background: $orange;
                            }
                        }
                    }
                    .page-template-home__products__list__single__col2{
                        &__title{
                            color: $orange;
                        }
                        &__url{
                            color: $orange;
                            border-color: $orange;
                            &:hover{
                                color: $white;
                                background: $orange;
                            }
                        }
                    }
                }
                
                &:after{
                    position: absolute;
                    content: '';
                    border: 4px solid #f8f8f8;
                    width: 100%;
                    height: 100%;
                    left: -15px;
                    bottom: -15px;
                    z-index: -1;
                    transition: .3s;
                }
                &__col1{
                    width: 35%;
                    float: left;
                    text-align: center;
                    position: relative;
                    &__img{
                        position: absolute;
                        top:50%;
                        left: 50%;
                        transform: translateY(-50%) translateX(-50%);
                    }
                    &__icon{
                        width: 50px;
                        height: 50px;
                        position: absolute;
                        &:after{
                            width: 50px;
                            height: 50px;
                            content: '';
                            display: block;
                            position: absolute;
                            background: $greenLight;
                            //top:50%;
                            left: 70%;
                            transform: rotate(-45deg) translateY(-50%) translateX(-50%);
                            transition: .3s;
                            z-index: 1
                        }
                        img{
                            position: absolute;
                            top:50%;
                            left: 50%;
                            transform: translateX(-50%) translateY(-50%);
                            z-index: 2;
                            max-width: 80%;
                            max-height: 80%;
                        }
                    }
                }
                &__col2{
                    width: 65%;
                    float: left;
                    @media (min-width:640px){
                        padding: rem-calc(60 55 65 55);
                    }
                    &__title{
                        font-weight: 900;
                        color: $greenLight;
                        @include font-size(25px);
                        @include line-height(32px);
                        text-transform: uppercase;
                        transition: .3s;
                    }
                    &__description{
                        @include font-size(22px);
                        @include line-height(32px);
                    }
                    &__url{
                        margin-top: rem-calc(35);
                        transition: .3s;
                    }
                }
                &.sort2{
                    .page-template-home__products__list__single__col1{
                        border-right: 2px solid $white;
                        &__icon{
                            top: -25px;
                            right: -27px;                            
                        }
                    }
                    .page-template-home__products__list__single__col2{
                        
                    }
                }
                &.sort1{
                    .page-template-home__products__list__single__col1{
                        float: right;
                        border-left: 2px solid $white;
                        &__icon{
                            top: -25px;
                            left: -27px;                            
                        }
                    }
                    .page-template-home__products__list__single__col2{

                    }
                }
                &__icon{

                }
            }
        }
    }
    &__about{
        background: #fcfcfc;
        padding:7.5rem 0.9375rem 4.375rem 0.9375rem;

        margin-top: -7.5rem;
        @media (max-width:640px){
            padding: 3.5rem 0.9375rem;
            margin-top: 5.5rem;
        }
        .page-template-home__left{
            margin-bottom: rem-calc(50);
        }
    }
    &__education{
        padding: 6.875rem 0.9375rem;
        @media (max-width:640px){
            padding: 3.5rem 0.9375rem;
        }
        .page-template-home__left{
            margin-bottom: rem-calc(30);
        }
        &__list{
            .accordion{
                margin-top: rem-calc(20);
                .accordion-item{
                    .accordion-cross{
                        span{
                            background: $green;
                        }
                    }
                    &.is-active{
                        .accordion-title{
                            color: $orange;
                        }
                        .accordion-cross{
                            span{
                                background: #bbbbbb;
                            }
                        }
                    }
                    &:after{
                        opacity: .5;
                    }
                    .accordion-title{
                        color: $greenLight;
                    }
                }
            }
        }
    }
    
    &__education{
        background: url('../images/patern.jpg');
        .page-template-home__left{
            &__subtitle{
                color: $white;
            }
            &__title{
                color: $white;
            }
        }
    }
    &__brands{
        margin: rem-calc(110px 0); 
        @media (max-width:640px){
            margin: 3.5rem 0rem;
        }
        &__loop{
            &__list{
                list-style: none;
                &__li{
                    border-bottom:2px solid #f8f8f8;
                    border-right:2px solid #f8f8f8;
                    position: relative;
                    margin-bottom: 0;
                    transition: .3s;
                    @media (min-width:1024px){
                        &.custom{
                            border: none;
                        }
                        &:nth-child(n+5){
                            border-bottom:none;
                        }
                        &:nth-child(4n),&:last-of-type,&.organic:last-of-type { 
                            border-right: none;
                        }
                    }
                    @media (max-width:640px){
                        border-right: none;
                    }
                    @media (max-width:1024px){
                        &.custom{
                            display: none;
                        }
                    }
                    @include hover(){
                        &.organic{
                            background: #ffffff;
                            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
                        }
                    }
                    img{
                        position: absolute;
                        top:50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        @media (max-width:640px){
                            max-height: 80%;
                        }
                    }
                }
            }
        }
    }
    &__bottom{
        border-bottom: 2px solid #f8f8f8;
        padding-bottom: rem-calc(60);
        margin-bottom: rem-calc(120);
    }
    &__delivery{
        &__list{
            list-style: none;
            float: right;
            //margin-top: rem-calc(60);
            margin-bottom: rem-calc(90);
            @media (max-width:640px){
                margin-bottom: 0;
            }
            margin-left: 0;
            li{
                display: inline-block;
                padding: rem-calc(40 40);
                border-right:2px solid #f8f8f8;
                @media (max-width:710px){
                    width: 50%;
                    float: left;
                    text-align: center;
                    border: none;
                    img{
                        @media (max-width:640px){
                            max-height: 80%;
                        }
                    }
                }
                &:last-of-type{
                    border: none;
                }
            }
        }
    }
    &__left{
        &__subtitle{
            @include font-size(25px);
            @include line-height(60px);
            font-weight: 900;
            text-transform: uppercase;
            color: $greenLight;
        }
        &__title{
            @include font-size(50px);
            @include line-height(60px);
            font-weight: 300;
            text-transform: uppercase;
            color: $black;
            margin-top: rem-calc(-25);
            margin-bottom:rem-calc(25);
        }
        &__url{

        }
    }
    &__new{
        .single--product__img__bar__promo{
            display: none;
        }
    }
    &__promo{
        .single--product__img__bar__new{
            display: none;
        }
    }
}