.woo-title{
    @include font-size(20px);
    @include line-height(60px);
    font-weight: 900;
    text-transform: uppercase;
    color: $greenLight;
}


.woocommerce-MyAccount-navigation-link--payment-methods,.woocommerce-MyAccount-navigation-link--downloads{
    display: none;
}
.woocommerce-account,.woocommerce-checkout,.woocommerce{
    #content{
        margin-top:rem-calc(120);
        margin-bottom: rem-calc(90);
    }
    .woocommerce-MyAccount-navigation{
        width: 25%;
        @media (max-width:1024px){
            width: 100%;
        }
        ul{
            list-style: none;
            margin: 0;
            li{
                @media (max-width:1024px){
                    width: 50%;
                    float: left;
                }
                @media (max-width:700px){
                    width:100%;
                }
                a{
                    width: 100%; 
                    @media (min-width:700px){
                        max-width: 320px;
                    }
                    height: rem-calc(50);
                    border: 2px solid #f2f2f2;
                    color: $font-color;;
                    font-weight: 700;
                    @include font-size(14px);
                    @include line-height(45px);
                    text-transform: uppercase;
                    background: transparent;
                    cursor: pointer;
                    transition: .3s;
                    margin-bottom: 15px;
                    display: inline-block;
                    padding-left: 25px;
                    @include hover(){
                        color:$greenLight; 
                        border-color:  $greenLight;
                    }
                }
                &.is-active{
                    a{
                        color:$greenLight; 
                        border-color:  $greenLight;
                    }
                }
            }
        }
    }
    .woocommerce-MyAccount-content{
        width: 75%;
        @media (max-width:1024px){
            width: 100%;
        }
        .wrap-fav{
            margin-top: -30px;
            display: inline-block;
            width: 100%;
        }
        &__left{
            &__title{
                @include font-size(15px);
                @include line-height(36px);
                color: $greenLight;
                font-weight: 900;
                text-transform: uppercase;
                margin: rem-calc(-12 0 0 0);
            }
            &__subtitle{
                @include font-size(26px);
                @include line-height(36px);
                color: $black;
                font-weight: 300;
                text-transform: uppercase;
                margin: rem-calc(-5 0 15 0);
            }
            &__info{
                color: #bbbbbb;
                @include font-size(14px);
                @include line-height(36px);
                font-weight: 900;
                text-transform: uppercase;
            }
        }
        h3{
            @include font-size(20px);
            @include line-height(60px);
            font-weight: 900;
            text-transform: uppercase;
            color: $greenLight;
        }
        .woocommerce-orders-table.my_account_orders{
            border-collapse: collapse;
            border-spacing: 0;
            thead{
                background: #f7f7f7;
                tr{
                    th{
                        letter-spacing: 1px;
                        border-right: 1px solid #f7f7f7;
                        color: $font-color;
                        padding-left: rem-calc(25);
                        @include font-size(14px);
                        @include line-height(50px);
                        font-weight: 900;
                        text-transform: uppercase;
                        .woocommerce-Price-amount{
                            @include font-size(14px);
                            @include line-height(50px);
                        }
                        &.woocommerce-orders-table__header-order-number-of{
                            width: 50px;
                            text-align: center;
                            padding: 0.5rem 0.625rem 0.625rem;
                        }
                    }
                }
            }
            tbody{
                tr{
                    border-bottom:2px solid #f7f7f7;
                    background: transparent;
                    transition: .3s;
                    @include hover(){
                        background: #f7f7f7;
                    }
                    td{
                        letter-spacing: 1px;
                        padding-left: rem-calc(25);
                        border-right: 2px solid #f7f7f7;
                        color: $font-color;
                        @include font-size(14px);
                        @include line-height(50px);
                        text-transform: uppercase;
                        .woocommerce-Price-amount{
                            color: $font-color;
                            font-weight: 900;
                        }
                        &.woocommerce-orders-table__cell-order-actions{
                            padding: 0.5rem 0.625rem 0.625rem;
                            text-align: center;
                            a{
                                margin: rem-calc(0 5);
                            }
                        }
                        a{
                            color: $font-color;
                            font-weight: 900;
                            @include hover(){
                                color: $greenLight;
                            }
                        }
                        &.woocommerce-orders-table__cell{
                            &.number{
                                text-align: center;
                                 padding: 0.5rem 0.625rem 0.625rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .woocommerce-error{
        margin: 0;
        list-style: none;
        li{
            margin: rem-calc(10 0);
            @include font-size(18px);
            padding: rem-calc(15);
            border: 2px solid $error;
            color: $error;
        }
    }
    .woocommerce-ResetPassword{
        text-align: center; 
        .form-row{
            float: none;
            display: inline-block !important; 
        }
    }
    .woocommerce-address-fields,.woocommerce-EditAccountForm,.woocommerce-billing-fields,.woocommerce-shipping-fields,.woocommerce-additional-fields,.checkout_coupon,.create-account,.woocomerce-form,.woocommerce-ResetPassword,.shipping-calculator-form{
        .form-row-first,.form-row-last{
            width: 48.5%;
            @media (max-width:640px){
                width: 100%;
            }
        }
        label{
            font-weight: 900;
            @include font-size(14px);
            @include line-height(26px);
            text-transform: uppercase;
            color: $font-color;
            margin-bottom: rem-calc(5);
            .required{
                text-decoration: none;
                color: $greenLight;
            }
        }
        
        .form-row{
            margin-bottom: rem-calc(35);
            .select2 .selection,input:not(.button),textarea,select{
                .select2-selection__arrow{
                    display: none;
                }
                .select2-selection{
                    border: none;
                    span{
                        @include font-size(14px);
                        @include line-height(46px);
                        color: $font-color;
                    }
                }
                @include font-size(14px);
                border: 2px solid $grayLight;
                box-shadow: none;
                background: $white;
                z-index: 1;
                position: relative;
                text-transform: uppercase;
                padding-left: rem-calc(25);
                font-weight: 700;
                color: $font-color;
                height: rem-calc(50);
                margin-bottom: 0px;
                display: block;
                &::placeholder{
                    color: #bbbbbb;
                }
                &.wpcf7-not-valid{
                    border-color: $error;
                }
            }
        }
        .form-row:not(.hideborder){
            display: block;
            position: relative;
                &:after{
                    content: '';
                    display: block !important;
                    position: absolute;
                    width: 100%;
                    height: rem-calc(50);
                    border: 2px solid $grayLight;
                    left: -9px;
                    bottom: -9px;
                    transition: .3s;
                }
                &.hideAfter{
                    &:after{
                        left: 0;
                        bottom:0; 
                    }
                    input,textarea{
                        border-color: $orange;
                    }
                }
        }
        .form-row-last{
            .button{
                margin-top: 0px;
            }
        }
        .button{
            padding: rem-calc(18 25 15 25);
            height: rem-calc(50);
            border: 2px solid $greenLight;
            color: $greenLight;
            font-weight: 900;
            @include font-size(14px);
            text-transform: uppercase;
            background: transparent;
            cursor: pointer;
            transition: .3s;
            margin-top: rem-calc(15);
            @include hover(){
                background: $greenLight;
                color: $white;
            }
        }
    }
    .woocommerce-Addresses{
        .edit{
            color: $orange;
            transition: .3s;
            @include hover(){
                color: $font-color;
            }
        }
    }
}
.woocommerce-account-fields{
    .create-account{
        .woocommerce-password-strength{
            position: relative;
            z-index: 1;
            margin-top: 0.625rem;
        }
        .form-row{
            display: block;
            position: relative;
                &:after{
                    content: '';
                    display: block !important;
                    position: absolute;
                    width: 100%;
                    height: rem-calc(50);
                    border: 2px solid $grayLight;
                    left: -9px;
                    top: 9px;
                    bottom:auto;
                    transition: .3s;
                }
                &.hideAfter{
                    &:after{
                        left: 0;
                        top:0; 
                        bottom:auto;
                    }
                    input,textarea{
                        border-color: $orange;
                    }
                }
        }
        
    }
}