.search{
    &__left{
        &__title{
            @include font-size(15px);
            @include line-height(36px);
            color: $greenLight;
            font-weight: 900;
            text-transform: uppercase;
            margin: 0px;
        }
        &__subtitle{
            @include font-size(26px);
            @include line-height(36px);
            color: $black;
            font-weight: 300;
            text-transform: uppercase;
            margin: rem-calc(-5 0 15 0);
        }
        &__info{
            color: #bbbbbb;
            @include font-size(14px);
            @include line-height(36px);
            font-weight: 900;
            text-transform: uppercase;
        }
    }
    &__form{
        &__left{
            padding-right: rem-calc(15);
            float: left;
            label{
                font-weight: 900;
                @include font-size(14px);
                @include line-height(26px);
                text-transform: uppercase;
                color: $font-color;
                margin-bottom: rem-calc(15);
                .required{
                    text-decoration: none;
                    color: $greenLight;
                }
            }
            &__field{
                display: block;
                position: relative;
                    &:after{
                        content: '';
                        display: block !important;
                        position: absolute;
                        width: 100%;
                        height: rem-calc(50);
                        border: 2px solid $grayLight;
                        left: -9px;
                        bottom: -9px;
                        transition: .3s;
                    }
                    &.hideAfter{
                        &:after{
                            left: 0;
                            top:0; 
                        }
                        input,textarea{
                            border-color: $orange;
                        }
                    }
                
                &__input{
                    @include font-size(14px);
                    border: 2px solid $grayLight;
                    box-shadow: none;
                    background: $white;
                    z-index: 1;
                    position: relative;
                    text-transform: uppercase;
                    padding-left: rem-calc(25);
                    font-weight: 700;
                    color: $font-color;
                    height: rem-calc(50);
                    margin-bottom: 0px;
                    display: block;
                    &:focus{
                        box-shadow: none;
                        border: 2px solid $orange;
                    }
                    &::placeholder{
                        color: #bbbbbb;
                    }
                    &.wpcf7-not-valid{
                        border-color: $error;
                    }
                }
            }
        }
        &__submit{
            float: left;
            width: rem-calc(118); 
            height: rem-calc(50);
            border: 2px solid $greenLight;
            color: $greenLight;
            font-weight: 900;
            @include font-size(14px);
            text-transform: uppercase;
            background: transparent;
            cursor: pointer;
            transition: .3s;
            margin-top: rem-calc(40);
            @include hover(){
                background: $greenLight;
                color: $white;
            }
        }
    }
}