.single-product{
    .related{
        border-top:2px solid #f8f8f8;
        padding-top: rem-calc(100);
        margin-bottom: rem-calc(60);
    }
    
    &__top{
        &__back{
            display: inline-block;
            margin-top: rem-calc(65);
            margin-bottom: rem-calc(40);
            color: #bbbbbb;
            @include font-size(14px);
            font-weight: 900;
            text-transform: uppercase;
            transition: .3s
            img{
                margin-right: rem-calc(5);
            }
            @include hover(){
                color: #bbbbbb;
                opacity: .5;
            }
        }
        &__fav_com{
            display: inline-block;
            width: 100%;
            text-align: right;
            margin-bottom: rem-calc(20);
            &__compare{
                position: relative;
                right: auto;
                left: auto;
                top: auto;
                display: inline-block;
                margin-right: rem-calc(65);
                &__icon{
                    float: left;
                    background: transparent;
                    span{
                        background: $orange;
                    }
                }
                &__text{
                    position: relative;
                    float: left;
                    opacity: 1;
                    right: auto;
                    @include font-size(14px);
                }
            }
            &__favorities{
                position: relative;
                right: auto;
                left: auto;
                top: auto;
                display: inline-block;
               
                &__icon{
                    float: left;
                    background: transparent;
                }
                &__text{
                    position: relative;
                    float: left;
                    opacity: 1;
                    right: auto; 
                    @include font-size(14px);
                }
            }
        }
        &__gallery{
            &__thumbnails{
                float: left;
                margin-right: rem-calc(15);
                @media (max-width:640px){
                    display: none;
                }
                &__single{
                    margin-bottom: rem-calc(15);
                    background: #fcfcfc;
                    position: relative;
                    width: 133px;
                    height: 133px;
                    cursor: pointer;
                    img{
                        position: absolute;
                        top:50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
            &__img{
                
                float: left;
                background: #fcfcfc;
                position: relative;
                img{
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    max-width: 80%;
                    max-height: 80%;
                }
            }
        }
        &__right{
            &__wrap{
                @media (min-width: 1024px){
                    padding-left:rem-calc(70);
                }
            }
            position: relative;
            .variations_form{
                .variations,.woocommerce-variation-price{
                    display: none;
                }
            }
            .price_woo_edit{
                color: $greenLight;
                @include font-size(24px);
                @include line-height(32px);
                text-transform: uppercase;
                font-weight: 900;
            }
            .new_variations{
                &__wrap{
                    margin-bottom: rem-calc(25);
                    &__single{
                        cursor: pointer;
                        display: inline-block;
                        padding: rem-calc(15 13);
                        border:2px solid #f2f2f2;
                        margin-right: rem-calc(9);
                        font-weight: 900;
                        text-transform: uppercase;
                        @include font-size(14px);
                        color:#bbbbbb;
                        transition: .3s;
                        &.active{
                            color: $greenLight;
                            border-color: $greenLight;
                        }
                        @include hover(){
                            color: $greenLight;
                            border-color: $greenLight;
                        }
                    }
                    &__title{
                        @include font-size(14px);
                        font-weight: 900;
                        text-transform: uppercase;
                    }
                }
            }
            
            .single_variation_wrap{
                .single_add_to_cart_button{
                    float: left
                }
                .woocommerce-variation-add-to-cart__title{
                    @include font-size(14px);
                    font-weight: 900;
                    text-transform: uppercase;
                }
                .quantity{
                    float: left;
                    width: 150px;
                    border: 2px solid #f2f2f2;
                    display: inline-block;
                    margin-right: 13px;
                    #remove-qt,#add-qt{
                        cursor: pointer;
                    }
                    input{
                        @include font-size(14px);
                        font-weight: 900;
                        color: $greenLight;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        margin: 0; 
                    }
                    input,#remove-qt,#add-qt{
                        width: 48.6px;
                        float: left;
                        text-align: center;
                        border:none;
                        height: rem-calc(48);
                        position: relative;
                        box-shadow: none;
                        margin-bottom: 0;
                        span{
                            position: absolute;
                            top:50%;
                            left: 50%;
                            transform: translateX(-50%) translateY(-50%);
                            @include font-size(20px);
                            font-weight: 900;
                        }
                    }
                }
            }
            .product_meta{
                .posted_in{
                    font-weight: 900;
                    color: $greenLight;
                    text-transform: uppercase;
                    @include font-size(15px);
                    @include line-height(36px);
                    max-width: 330px;
                    width: 100%;
                }
            }
            .product_title{
                margin-top: rem-calc(-5);
                font-weight: 300;
                text-transform: uppercase;
                color: $black;
                @include font-size(26px);
                @include line-height(36px);
            }
            .woocommerce-product-rating{
                position: absolute;
                right: 15px;
                top:5px;
                .fa{
                    color: $orange;
                }
                &__count{
                    @include font-size(12px);
                    @include line-height(36px);
                    text-transform: uppercase;
                    text-align: right;
                    margin-top: -12px;
                }
            }
            .woocommerce-product-details__short-description{
                margin: rem-calc(35 0);
                p{
                    @include font-size(18px);
                    @include line-height(26px);
                }
            }
        }
    }
    &__medium{
        
        border-top:2px solid #f8f8f8;
        display: inline-block;
        width: 100%;        
    }
    .display-flex{
        @media (min-width:1024px){
            display: flex;
        }
    }
    .product_left{
        @media (min-width:1024px){
            padding-bottom: 5rem;
        }
    }
    .product_right{
        background: #fcfcfc;
        position: relative;
        padding: rem-calc(185 0 80 0);
        &:after{
            position: absolute;
            right: 0;
            width: 1000rem;
            height: 100%;
            content: '';
            margin-right: -1000rem;
            background: #fcfcfc;
            display: block;
            top:0;
        }
        &:before{
            left: 0;
            width: 12%;
            margin-left: -12%;
            background: #fcfcfc;
            display: block;
            top:0;
            position: absolute;
            content: '';
            height: 100%;
        }
        &__item{
            position: relative;
            margin-bottom: rem-calc(45);
            padding: rem-calc(5 0 0 0);
            &__img{
                position: absolute;
                left: 0;
                top: 0;
                width: 55px;
                text-align: center;
            }
            &__wrap{
                padding: rem-calc(0 0 0 85);
                &__title{
                    font-weight: 900;
                    color: $greenLight;
                    @include font-size(16px);
                    text-transform: uppercase;
                }
                &__content{
                    @include font-size(16px);
                    @include line-height(24px);
                }
            }
        }
    }
    .woocommerce-tabs{
        padding-top: rem-calc(70);
        .woocommerce-Reviews{
            h1,h2,h3,h4,h5,h6{
                font-weight: 900;
                color: $greenLight;
                text-transform: uppercase;
            }
            .comment-respond{
                .comment-reply-title{
                    font-weight: 900;
                    color: $greenLight;
                    text-transform: uppercase;
                    @include font-size(16px);
                    @include line-height(26px); 
                }
                .stars{
                    span{
                        a{
                            margin-right: rem-calc(5);
                            text-decoration: none;
                            transition: .3s;
                            @include hover(){
                                color: $orange;
                            }
                            &.active{
                                color: $orange;
                            }
                        }
                    }
                }
                .comment-form{
                    
                }
            }
            .commentlist{
                list-style: none;
                margin: 0;
                .avatar{
                    display: none;
                }
                li{
                    margin-bottom: rem-calc(35);
                    border-bottom: 2px solid #f8f8f8;
                    .comment-text{
                        .woocommerce-product-rating{
                            color: $orange;
                        }
                    }
                }
            }
        }
        .tabs{
            border: none;
            margin-bottom: rem-calc(50);
            li{
                @media (max-width:767px){
                    width: 50%;
                    padding: 15px;
                    margin: 0;
                    float: left;
                    a{
                        width: 100%;
                    }
                }
                @media (max-width:480px){
                    width: 100%;
                }
                margin-right: 15px;
                &.active{
                    a{
                        color: $orange;
                        border-color: $orange
                    }
                }
                a{
                    color: #bbbbbb;
                    @include font-size(14px);
                    font-weight: 900;
                    text-transform: uppercase;
                    border: 2px solid #f2f2f2; 
                    padding: rem-calc(15 25);
                    display: inline-block;
                    transition: .3s;
                    @include hover(){
                        color: $orange;
                        border-color: $orange
                    }
                }
            }
        }
    }
}