/******************************************************************
Theme Name: TenseAPP!
Description: Szablon graficzny przygotowany przez TenseAPP!
Author: TenseAPP!
Author URI: https://tenseapp.pl
Version: 1.0
Tags: Sass, Foundation, Gulp, JointsWP
******************************************************************/

body .home .top-bar {
	height: auto !important;
}


 .icontainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:768px) {
    .icontainer {
        width: 100%
    }
}



.irow {
    margin-right: -15px;
    margin-left: -15px;
	margin-bottom: 20px;
}

.irow:after,
.irow:before {
    display: table;
    content: " "
}

.irow:after {
    clear: both
}

.icol-sm-6,
.icol-sm-4,
.icol-sm-8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
}

@media (min-width:768px) {
    .icol-sm-6 {
        float: left;
        width: 50%
    }
    .icol-sm-4 {
        float: left;
        width: 33.33333333%
    }
    .icol-sm-8 {
        float: left;
        width: 66.66666667%
    }
}


.irow img {
   width: 100%;
}

@media (max-width: 1200px) and (min-width: 993px) {

.valign {
   display: flex;
   align-items: center;
}
}

.single-product__top__gallery__img {
    background: white !important;
}
.single--product__img {
    background: white !important;
}
